/**
 * Square mixin
 *
 * @param [Number] $dimensions = the height and width of the element
 */
/* stylelint-disable */
/* stylelint-enable */
.icon--icon-usp:before {
  display: inline-block;
  height: 3.785em;
  width: 4.16em;
  font-size: 0.39062rem;
  background-image: url("../images/generated/sprite.svg");
  background-position: 0em 0em;
  background-size: 11.5em 11.125em;
  content: "";
}

.icon--test:before {
  display: inline-block;
  height: 6.5em;
  width: 6.5em;
  font-size: 0.25rem;
  background-image: url("../images/generated/sprite.svg");
  background-position: -4.625em -4.25em;
  background-size: 11.5em 11.125em;
  content: "";
}

@font-face {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/FontAwesome/fa-regular-400.woff2") format("woff2"), url("../fonts/FontAwesome/fa-regular-400.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/FontAwesome/fa-solid-900.woff2") format("woff2"), url("../fonts/FontAwesome/fa-solid-900.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Font Awesome 5 Brands";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/FontAwesome/fa-brands-400.woff2") format("woff2"), url("../fonts/FontAwesome/fa-brands-400.woff") format("woff");
  font-display: swap;
}

/* cyrillic-ext */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/OpenSans/opensans-italic-webfont.woff2") format("woff2"), url("../fonts/OpenSans/opensans-italic-webfont.woff") format("woff");
  font-display: swap;
  unicode-range: "U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F";
}

/* cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/OpenSans/opensans-italic-webfont.woff2") format("woff2"), url("../fonts/OpenSans/opensans-italic-webfont.woff") format("woff");
  font-display: swap;
  unicode-range: "U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116";
}

/* greek-ext */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/OpenSans/opensans-italic-webfont.woff2") format("woff2"), url("../fonts/OpenSans/opensans-italic-webfont.woff") format("woff");
  font-display: swap;
  unicode-range: "U+1F00-1FFF";
}

/* greek */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/OpenSans/opensans-italic-webfont.woff2") format("woff2"), url("../fonts/OpenSans/opensans-italic-webfont.woff") format("woff");
  font-display: swap;
  unicode-range: "U+0370-03FF";
}

/* vietnamese */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/OpenSans/opensans-italic-webfont.woff2") format("woff2"), url("../fonts/OpenSans/opensans-italic-webfont.woff") format("woff");
  font-display: swap;
  unicode-range: "U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB";
}

/* latin-ext */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/OpenSans/opensans-italic-webfont.woff2") format("woff2"), url("../fonts/OpenSans/opensans-italic-webfont.woff") format("woff");
  font-display: swap;
  unicode-range: "U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF";
}

/* latin */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/OpenSans/opensans-italic-webfont.woff2") format("woff2"), url("../fonts/OpenSans/opensans-italic-webfont.woff") format("woff");
  font-display: swap;
  unicode-range: "U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD";
}

/* cyrillic-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/OpenSans/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/OpenSans/opensans-regular-webfont.woff") format("woff");
  font-display: swap;
  unicode-range: "U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F";
}

/* cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/OpenSans/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/OpenSans/opensans-regular-webfont.woff") format("woff");
  font-display: swap;
  unicode-range: "U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116";
}

/* greek-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/OpenSans/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/OpenSans/opensans-regular-webfont.woff") format("woff");
  font-display: swap;
  unicode-range: "U+1F00-1FFF";
}

/* greek */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/OpenSans/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/OpenSans/opensans-regular-webfont.woff") format("woff");
  font-display: swap;
  unicode-range: "U+0370-03FF";
}

/* vietnamese */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/OpenSans/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/OpenSans/opensans-regular-webfont.woff") format("woff");
  font-display: swap;
  unicode-range: "U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB";
}

/* latin-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/OpenSans/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/OpenSans/opensans-regular-webfont.woff") format("woff");
  font-display: swap;
  unicode-range: "U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF";
}

/* latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/OpenSans/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/OpenSans/opensans-regular-webfont.woff") format("woff");
  font-display: swap;
  unicode-range: "U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD";
}

/* cyrillic-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/OpenSans/opensans-bold-webfont.woff2") format("woff2"), url("../fonts/OpenSans/opensans-bold-webfont.woff") format("woff");
  font-display: swap;
  unicode-range: "U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F";
}

/* cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/OpenSans/opensans-bold-webfont.woff2") format("woff2"), url("../fonts/OpenSans/opensans-bold-webfont.woff") format("woff");
  font-display: swap;
  unicode-range: "U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116";
}

/* greek-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/OpenSans/opensans-bold-webfont.woff2") format("woff2"), url("../fonts/OpenSans/opensans-bold-webfont.woff") format("woff");
  font-display: swap;
  unicode-range: "U+1F00-1FFF";
}

/* greek */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/OpenSans/opensans-bold-webfont.woff2") format("woff2"), url("../fonts/OpenSans/opensans-bold-webfont.woff") format("woff");
  font-display: swap;
  unicode-range: "U+0370-03FF";
}

/* vietnamese */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/OpenSans/opensans-bold-webfont.woff2") format("woff2"), url("../fonts/OpenSans/opensans-bold-webfont.woff") format("woff");
  font-display: swap;
  unicode-range: "U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB";
}

/* latin-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/OpenSans/opensans-bold-webfont.woff2") format("woff2"), url("../fonts/OpenSans/opensans-bold-webfont.woff") format("woff");
  font-display: swap;
  unicode-range: "U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF";
}

/* latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/OpenSans/opensans-bold-webfont.woff2") format("woff2"), url("../fonts/OpenSans/opensans-bold-webfont.woff") format("woff");
  font-display: swap;
  unicode-range: "U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD";
}

/*!
 * Font Awesome Pro 5.15.2 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license (Commercial License)
 */
body::after {
  content: "bp-xs";
  position: fixed;
  bottom: 0;
  right: 0;
  display: block;
  padding: 0.625rem;
  background: red;
  visibility: hidden;
  opacity: 0;
}

body.theme-debug-mode::after {
  visibility: visible;
}

@media (min-width: 768px) {
  body::after {
    content: "bp-sm";
    position: fixed;
    bottom: 0;
    right: 0;
    background: #ffce00;
  }
}

@media (min-width: 940px) {
  body::after {
    content: "bp-md";
    position: fixed;
    bottom: 0;
    right: 0;
    background: yellow;
  }
}

@media (min-width: 1200px) {
  body::after {
    content: "bp-lg";
    position: fixed;
    bottom: 0;
    right: 0;
    background: green;
  }
}

/* stylelint-disable */
/* stylelint-enable */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@-ms-viewport {
  width: device-width;
}

body {
  font-family: "Arial", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  text-align: left;
  text-rendering: optimizeSpeed;
  color: #303030;
  background-color: #fff;
  scroll-behavior: smooth;
}

.font-text-01-loaded body {
  font-family: "Open Sans", "Arial", sans-serif;
}

[tabindex="-1"]:focus {
  outline: none !important;
}

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

figure {
  margin: 0;
}

hr {
  display: none;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

svg:not(:root) {
  overflow: hidden;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

output {
  display: inline-block;
}

a,
area,
button,
[role="button"],
input:not([type="range"]),
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

p {
  margin-top: 0;
}

abbr[title],
abbr[data-original-title] {
  border-bottom: 0;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
}

address {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-top: 0;
  margin-bottom: 0.9375rem;
  margin-left: 0;
}

dfn {
  font-style: italic;
}

b,
strong {
  font-weight: bolder;
}

em,
i {
  font-style: italic;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

pre,
code,
kbd,
samp {
  font-family: monospace;
  font-size: 1em;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

button {
  border: 0 none;
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  box-sizing: border-box;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="date"]::-webkit-calendar-picker-indicator:hover,
input[type="datetime"]::-webkit-calendar-picker-indicator:hover,
input[type="datetime-local"]::-webkit-calendar-picker-indicator:hover,
input[type="week"]::-webkit-calendar-picker-indicator:hover {
  background: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  font-size: 1.5rem;
  line-height: inherit;
  white-space: normal;
  color: inherit;
  margin-bottom: .5rem;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
  appearance: button;
}

input[type="button"], input[type="reset"], input[type="submit"] {
  outline: 0;
}

input[type="button"]:focus, input[type="button"]:focus:hover, input[type="reset"]:focus, input[type="reset"]:focus:hover, input[type="submit"]:focus, input[type="submit"]:focus:hover {
  outline: 0;
}

#styleguide-header .item-list {
  width: 100%;
  margin: 0 0 1.5rem 0;
}

@media (min-width: 480px) and (max-width: 767px) {
  #styleguide-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  #styleguide-header .item-list {
    width: 50%;
    padding: 0 0.625rem;
  }
}

@media (min-width: 768px) {
  #styleguide-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  #styleguide-header .item-list {
    width: 25%;
    padding: 0 0.625rem;
  }
}

.iframe-responsive {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
  width: 100%;
}

.iframe-responsive--full {
  padding-bottom: 75%;
}

.iframe-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.pull-right,
[class*="col--"].pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.clear {
  clear: both;
}

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

.hide,
.visually-hidden {
  position: absolute !important;
  display: block !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  overflow: hidden !important;
  height: 0.0625rem !important;
  width: 0.0625rem !important;
  word-wrap: normal !important;
}

.hide.focusable:focus,
.visually-hidden.focusable:focus {
  position: fixed !important;
  left: 0 !important;
  top: 0 !important;
  z-index: 10010 !important;
  display: block !important;
  clip: auto !important;
  overflow: visible !important;
  height: auto !important;
  width: auto !important;
  background: #fff;
}

.hide-text,
.hidden-text {
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
}

.hidden {
  display: none;
}

.invisible,
.element-invisible {
  visibility: hidden;
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
  .visible-xs {
    display: block !important;
  }
  .visible-sm {
    display: none !important;
  }
  .visible-md {
    display: none !important;
  }
  .visible-lg {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 939px) {
  .visible-xs {
    display: none !important;
  }
  .hidden-sm {
    display: none !important;
  }
  .visible-sm {
    display: block !important;
  }
  .visible-md {
    display: none !important;
  }
  .visible-lg {
    display: none !important;
  }
}

@media (min-width: 940px) and (max-width: 1199px) {
  .visible-xs {
    display: none !important;
  }
  .visible-sm {
    display: none !important;
  }
  .hidden-md {
    display: none !important;
  }
  .visible-md {
    display: block !important;
  }
  .visible-lg {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .visible-xs {
    display: none !important;
  }
  .visible-sm {
    display: none !important;
  }
  .visible-md {
    display: none !important;
  }
  .visible-lg {
    display: block !important;
  }
  .hidden-lg {
    display: none !important;
  }
}

.animate-fade {
  transition: opacity 0.3s ease-out;
}

.animate-fade:hover {
  opacity: 0;
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.container {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin: 0 auto;
  max-width: none;
}

@media (min-width: 768px) {
  .container {
    max-width: none;
  }
}

@media (min-width: 940px) {
  .container {
    max-width: 940px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.container .container {
  padding: 0;
  margin: 0;
  max-width: none;
}

.container--fluid {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.container--fluid .container {
  padding: 0;
}

.page {
  overflow-x: hidden;
  overflow-y: auto;
}

a {
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration-skip-ink: auto;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  /**
  * Remove the outline on focused links when they are also active or hovered
  * in all browsers (opinionated).
  */
}

a, a:visited {
  color: #de0055;
}

a:hover {
  color: #10bfff;
}

a:active, a:focus {
  color: #10bfff;
}

a::after, a::before {
  transition: all 0.3s ease-in-out;
}

a:hover, a:active {
  outline-width: 0;
}

.more-link a,
.link--more {
  border: 5px solid red;
}

.more-link--big a,
.link--more-big {
  border: 5px solid red;
}

.back-link a,
.link--back {
  border: 5px solid red;
}

a:not([href]):not([tabindex]) {
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

[onclick^="location.href="],
[onclick^="window.open"] {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Arial", sans-serif;
}

.font-text-01-loaded h1,
.font-text-01-loaded h2,
.font-text-01-loaded h3,
.font-text-01-loaded h4,
.font-text-01-loaded h5,
.font-text-01-loaded h6,
.font-text-01-loaded .h1,
.font-text-01-loaded .h2,
.font-text-01-loaded .h3,
.font-text-01-loaded .h4,
.font-text-01-loaded .h5,
.font-text-01-loaded .h6 {
  font-weight: 700;
}

.font-text-01-loaded h1 a,
.font-text-01-loaded h1 a:visited,
.font-text-01-loaded h2 a,
.font-text-01-loaded h2 a:visited,
.font-text-01-loaded h3 a,
.font-text-01-loaded h3 a:visited,
.font-text-01-loaded h4 a,
.font-text-01-loaded h4 a:visited,
.font-text-01-loaded h5 a,
.font-text-01-loaded h5 a:visited,
.font-text-01-loaded h6 a,
.font-text-01-loaded h6 a:visited,
.font-text-01-loaded .h1 a,
.font-text-01-loaded .h1 a:visited,
.font-text-01-loaded .h2 a,
.font-text-01-loaded .h2 a:visited,
.font-text-01-loaded .h3 a,
.font-text-01-loaded .h3 a:visited,
.font-text-01-loaded .h4 a,
.font-text-01-loaded .h4 a:visited,
.font-text-01-loaded .h5 a,
.font-text-01-loaded .h5 a:visited,
.font-text-01-loaded .h6 a,
.font-text-01-loaded .h6 a:visited {
  text-decoration: none;
  color: #de0055;
}

.font-text-01-loaded h1 a:hover,
.font-text-01-loaded h2 a:hover,
.font-text-01-loaded h3 a:hover,
.font-text-01-loaded h4 a:hover,
.font-text-01-loaded h5 a:hover,
.font-text-01-loaded h6 a:hover,
.font-text-01-loaded .h1 a:hover,
.font-text-01-loaded .h2 a:hover,
.font-text-01-loaded .h3 a:hover,
.font-text-01-loaded .h4 a:hover,
.font-text-01-loaded .h5 a:hover,
.font-text-01-loaded .h6 a:hover {
  text-decoration: underline;
  color: #de0055;
}

h1,
.h1 {
  margin: 0 0 1.5rem 0;
  font-size: 2rem;
  line-height: 2.5rem;
  color: #303030;
}

h2,
.h2 {
  margin: 0 0 0.9375rem 0;
  font-size: 1.75rem;
  line-height: 2.1875rem;
  color: #303030;
}

h3,
.h3 {
  margin: 0 0 0.9375rem 0;
  font-size: 1.5rem;
  line-height: 1.875rem;
  color: #303030;
}

h4,
.h4 {
  margin: 0 0 0.9375rem 0;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #303030;
}

h5,
.h5 {
  margin: 0 0 0.3125rem 0;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #303030;
}

h6,
.h6 {
  margin: 0 0 0.3125rem 0;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #303030;
}

.text-long h2.no-margin,
.text-long h3.no-margin,
.text-long h4.no-margin,
.text-long h5.no-margin,
.text-long h6.no-margin {
  margin-bottom: 0;
}

mark,
.marker,
.highlight {
  display: inline-block;
  color: #171717;
  background-color: #ff0;
}

small,
.small {
  font-size: 0.6875rem;
  line-height: 0.85938rem;
}

p,
.p {
  margin-bottom: 1.5rem;
}

.text-long .text-align-right {
  text-align: right;
}

.text-long .text-align-center {
  text-align: center;
}

.text-long .text-align-justify {
  text-align: justify;
}

.text-long::after {
  clear: both;
  content: "";
  display: table;
}

.text-long p:last-child,
.text-long .p:last-child {
  margin-bottom: 0;
}

.text-long p.no-margin,
.text-long .p.no-margin {
  margin-bottom: 0;
}

.text-long ul:not(.inline) .text-align-right::before,
.text-long ul:not(.inline) .text-align-center::before,
.text-long ol:not(.inline) .text-align-right::before,
.text-long ol:not(.inline) .text-align-center::before {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  margin-right: 0.625rem;
}

.text-long blockquote,
.text-long .blockquote {
  position: relative;
  margin: 0 0 1.5rem 0;
  padding: 0;
  width: 100%;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-style: italic;
  color: #10bfff;
  background-color: transparent;
}

.text-long blockquote::before,
.text-long .blockquote::before {
  content: "\201C";
  margin-right: 0.25rem;
}

.text-long blockquote::after,
.text-long .blockquote::after {
  content: "\201D";
  margin-left: -0.25rem;
}

.text-long blockquote p,
.text-long .blockquote p {
  display: inline;
}

.text-long blockquote:last-child,
.text-long .blockquote:last-child {
  margin-bottom: 0;
}

.text-long hr,
.text-long .hr {
  display: block;
  box-sizing: content-box;
  overflow: visible;
  margin: 1.5rem 0;
  padding: 0;
  width: 100%;
  height: 0;
  border: 0;
  border-top: 1px solid #d1d1d1;
}

.text-long hr:last-child,
.text-long .hr:last-child {
  margin-bottom: 0;
}

.text-long pre,
.text-long .pre {
  overflow: auto;
  -ms-overflow-style: scrollbar;
  margin: 0 0 1.5rem 0;
  padding: 0.9375rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.3125rem;
  font-family: monospace;
  font-size: 1em;
  white-space: pre-line;
  color: #303030;
  background-color: #fff;
}

.text-long pre:last-child,
.text-long .pre:last-child {
  margin-bottom: 0;
}

ul,
ol,
dl {
  margin: 0 0 0.9375rem 0;
}

ul ul,
ul ol,
ol ul,
ol ol,
dl ul,
dl ol {
  margin-top: 0.9375rem;
  margin-bottom: 0.9375rem;
}

ul li,
ol li,
dl li {
  margin-bottom: 0.375rem;
  list-style-position: inside;
}

ul li:last-child,
ol li:last-child,
dl li:last-child {
  margin-bottom: 0;
}

ul {
  padding: 0 0 0 1.25rem;
}

ol {
  padding: 0 0 0 1.5rem;
}

dl {
  padding: 0 0 0 1.5rem;
}

dl dt {
  margin-top: 0.9375rem;
}

dl dt:first-child {
  margin-top: 0;
}

dl dt + dd {
  margin-top: 0.9375rem;
}

dl dd {
  margin-bottom: 0.375rem;
}

nav ul,
nav ol {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul > li,
nav ol > li {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.inline {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  margin: -0.3125rem -0.3125rem 1.5rem -0.3125rem;
}

ul.inline li {
  display: inline-block;
  margin: 0.3125rem 0.3125rem 0 0.3125rem;
  padding: 0;
}

.filter-type ul:not(.inline),
.text-long ul:not(.inline) {
  display: block;
  padding-left: 0;
  margin-left: 0;
  overflow: hidden;
}

.filter-type ul:not(.inline) > li,
.text-long ul:not(.inline) > li {
  position: relative;
  display: block;
  margin-bottom: 0.375rem;
  list-style: none;
}

.filter-type ul:not(.inline) > li:last-child,
.text-long ul:not(.inline) > li:last-child {
  margin-bottom: 0;
}

.filter-type ul:not(.inline) > li,
.text-long ul:not(.inline) > li {
  padding-left: 1.1875rem;
}

.filter-type ul:not(.inline) > li::before,
.text-long ul:not(.inline) > li::before {
  content: "";
  position: absolute;
  left: 1px;
  top: 0.75rem;
  display: block;
  margin-top: -1px;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  background: #10bfff;
}

.filter-type ul:not(.inline) > li ul li::before,
.text-long ul:not(.inline) > li ul li::before {
  border: 1px solid #10bfff;
  border-radius: 50%;
  background: transparent;
}

.filter-type ul:not(.inline) > li ul li li::before,
.text-long ul:not(.inline) > li ul li li::before {
  border: 0 none;
  border-radius: 0;
  background: #10bfff;
}

.filter-type ul:not(.inline) p,
.text-long ul:not(.inline) p {
  margin-bottom: 0.9375rem;
}

.filter-type ol,
.text-long ol {
  display: block;
  padding-left: 0;
  margin-left: 0;
  counter-reset: listStyle1;
  overflow: hidden;
}

.filter-type ol > li,
.text-long ol > li {
  position: relative;
  display: block;
  margin-bottom: 0.375rem;
  list-style: none;
}

.filter-type ol > li:last-child,
.text-long ol > li:last-child {
  margin-bottom: 0;
}

.filter-type ol > li,
.text-long ol > li {
  padding-left: 1.625rem;
  counter-increment: listStyle1;
}

.filter-type ol > li::before,
.text-long ol > li::before {
  position: absolute;
  top: 0;
  left: 0;
  content: counter(listStyle1) ".";
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #10bfff;
}

.filter-type ol > li ol,
.text-long ol > li ol {
  counter-reset: listStyle2;
}

.filter-type ol > li ol > li,
.text-long ol > li ol > li {
  counter-increment: listStyle2;
}

.filter-type ol > li ol > li::before,
.text-long ol > li ol > li::before {
  content: counter(listStyle2, lower-alpha) ".";
}

.filter-type ol > li ol > li > ol,
.text-long ol > li ol > li > ol {
  counter-reset: listStyle3;
}

.filter-type ol > li ol > li > ol > li,
.text-long ol > li ol > li > ol > li {
  counter-increment: listStyle3;
}

.filter-type ol > li ol > li > ol > li::before,
.text-long ol > li ol > li > ol > li::before {
  content: counter(listStyle3, lower-roman) ".";
}

.font-text-01-loaded .filter-type ol > li::before, .font-text-01-loaded
.text-long ol > li::before {
  font-family: "Open Sans", "Arial", sans-serif;
}

.filter-type ol p,
.text-long ol p {
  margin-bottom: 0.9375rem;
}

.filter-type ul:not(.inline).is-horizontal,
.filter-type ol.is-horizontal,
.text-long ul:not(.inline).is-horizontal,
.text-long ol.is-horizontal {
  margin-right: -1.875rem;
}

.filter-type ul:not(.inline).is-horizontal li,
.filter-type ol.is-horizontal li,
.text-long ul:not(.inline).is-horizontal li,
.text-long ol.is-horizontal li {
  display: inline-block;
  margin-right: 1.875rem;
}

.filter-type ul:not(.inline):last-child,
.filter-type ol:last-child,
.text-long ul:not(.inline):last-child,
.text-long ol:last-child {
  margin-bottom: 0;
}

.filter-type ul:not(.inline).no-margin,
.filter-type ol.no-margin,
.text-long ul:not(.inline).no-margin,
.text-long ol.no-margin {
  margin-bottom: 0;
}

.filter-type li > ol:last-child,
.filter-type li > ul:not(.inline):last-child,
.text-long li > ol:last-child,
.text-long li > ul:not(.inline):last-child {
  margin-bottom: 0.9375rem;
}

img {
  display: block;
  border-style: none;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.media__element {
  background-repeat: no-repeat !important;
}

.text-long::after {
  clear: both;
  content: "";
  display: table;
}

.text-long img, .text-long img.align-left, .text-long img.align-right, .text-long img.align-center,
.text-long figure,
.text-long figure.align-left,
.text-long figure.align-right,
.text-long figure.align-center,
.text-long [data-entity-type="media"],
.text-long [data-entity-type="media"].align-left,
.text-long [data-entity-type="media"].align-right,
.text-long [data-entity-type="media"].align-center {
  display: block;
  float: none;
  margin: 0 0 1.875rem 0;
  max-width: 100%;
  width: auto;
  height: auto;
}

@media (min-width: 768px) {
  .text-long img.align-left,
  .text-long figure.align-left,
  .text-long [data-entity-type="media"].align-left {
    float: left;
    margin: 0 1.875rem 1.875rem 0;
  }
  .text-long img.align-right,
  .text-long figure.align-right,
  .text-long [data-entity-type="media"].align-right {
    float: right;
    margin: 0 0 1.875rem 1.875rem;
  }
  .text-long img.align-center,
  .text-long figure.align-center,
  .text-long [data-entity-type="media"].align-center {
    margin-left: auto;
    margin-right: auto;
  }
}

.text-long figure.align-center img,
.text-long [data-entity-type="media"].align-center img {
  margin: 0 auto;
}

.text-long figure img,
.text-long [data-entity-type="media"] img {
  float: none;
  padding: 0;
}

.text-long figcaption {
  margin-top: 0.625rem;
  display: block;
  text-align: center;
  font-style: italic;
  color: #707070;
}

.icons-demo {
  display: -ms-flexbox;
  display: flex;
}

.icons-demo .icon {
  height: 100px;
  padding: 0.625rem;
  width: 100px;
}

.icons-demo pre {
  margin: 0;
  font-size: 0.8rem;
  text-align: center;
  background-color: clr(off-white);
}

.icons-demo__item {
  margin: 0.625rem;
  border: 1px solid clr(off-white);
}

.form__group--checkboxes,
.form__group--radios {
  margin-bottom: 1.5rem;
  width: 100%;
}

input[type="radio"],
input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  top: 0.3125rem;
  display: inline-block;
  margin: 0 0.625rem 0 0;
  padding: 0;
  border: 1px solid #d1d1d1;
  border-radius: 0;
  vertical-align: top;
  background: #fff;
  outline: none;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

input[type="radio"]:hover, input[type="radio"]:focus,
input[type="checkbox"]:hover,
input[type="checkbox"]:focus {
  cursor: pointer;
  outline: 0;
  border-color: #43cdff;
}

input[type="radio"]:disabled,
input[type="checkbox"]:disabled {
  opacity: .5;
  background: #fff;
}

input[type="radio"]:disabled:hover,
input[type="checkbox"]:disabled:hover {
  cursor: default;
  border-color: #303030;
}

input[type="radio"]:checked,
input[type="checkbox"]:checked {
  border-color: #43cdff;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
  position: relative;
  display: inline;
  font-weight: 400;
}

input[type="radio"] + label .form__label__not-required,
input[type="checkbox"] + label .form__label__not-required {
  display: none;
}

input[type="checkbox"] {
  background-color: #fff;
  width: 1rem;
  height: 1rem;
  transition: background-color ease-in-out 0.1s, border-color ease-in-out 0.1s;
}

input[type="checkbox"]::-ms-check {
  color: transparent;
}

input[type="checkbox"] + label::before {
  content: "\f00c";
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 0.9375rem;
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
  color: #10bfff;
}

input[type="checkbox"] + label::before {
  position: absolute;
  left: -1.625rem;
  top: 0.25rem;
  opacity: 0;
}

input[type="checkbox"]:checked + label::before {
  opacity: 1;
  transition: opacity ease-in-out 0.1s;
}

input[type="checkbox"]:disabled:checked + label::before {
  color: rgba(16, 191, 255, 0.5);
}

.form__element.form-type--checkbox,
.form__element.form-type--radio {
  position: relative;
  padding-left: 1.875rem;
  margin-bottom: 0.3125rem;
}

.form__element.form-type--checkbox input[type="checkbox"],
.form__element.form-type--checkbox input[type="radio"],
.form__element.form-type--radio input[type="checkbox"],
.form__element.form-type--radio input[type="radio"] {
  position: absolute;
  left: 0;
  top: 0.3125rem;
}

.main .form-actions button,
.main .form-actions input[type="submit"],
.main .form-actions [id*="edit-cancel"] {
  width: 100%;
  margin-top: 0.9375rem;
}

.main .form-actions button:first-child,
.main .form-actions input[type="submit"]:first-child,
.main .form-actions [id*="edit-cancel"]:first-child {
  margin-top: 0;
}

@media (min-width: 768px) {
  .main .form-actions button,
  .main .form-actions input[type="submit"],
  .main .form-actions [id*="edit-cancel"] {
    width: auto;
    margin-top: 0;
    margin-right: 0.9375rem;
  }
  .main .form-actions button:first-child,
  .main .form-actions input[type="submit"]:first-child,
  .main .form-actions [id*="edit-cancel"]:first-child {
    margin-top: 0;
  }
}

details {
  border: 1px solid #d1d1d1;
}

details summary {
  padding: 0.5rem 0.9375rem;
  color: #303030;
  background: #d1d1d1;
}

details summary:focus {
  outline: none;
}

details .details-wrapper {
  padding: 0.625rem 0.9375rem 0;
}

summary {
  cursor: pointer;
}

.details-description {
  margin-bottom: 1.5rem;
}

.details__error-message {
  margin-bottom: 1.5rem;
  color: #e74c3c;
}

legend {
  display: block;
  font-size: 1.5rem;
  line-height: 2.0625rem;
  font-weight: 700;
  white-space: normal;
  color: #303030;
}

fieldset,
.form-fieldset {
  margin: 0 0 1.5rem 0;
  padding: 0.625rem;
  border: 1px solid #d1d1d1;
}

fieldset legend,
.form-fieldset legend {
  display: table;
  box-sizing: border-box;
  padding: 0 0.625rem;
  max-width: 100%;
  width: auto;
}

.fieldset__error-message {
  margin-bottom: 1.5rem;
  color: #e74c3c;
}

.form__element {
  margin-bottom: 1.5rem;
  width: 100%;
}

.form__element::after {
  clear: both;
  content: "";
  display: table;
}

.form__element .field-suffix,
.form__element .admin-link {
  display: block;
}

.form__element .admin-link {
  margin-top: 0.625rem;
}

.form__element--prefix,
.form__element--suffix {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
}

.form__element--prefix .form__element__description,
.form__element--suffix .form__element__description {
  width: 100%;
}

.form__element__prefix {
  margin-right: 0.625rem;
}

.form__element__suffix {
  margin-left: 0.625rem;
}

form small,
form .description,
.form__element__description,
.password-suggestions,
.webform-component--mandatory-fields p,
.form__element ~ p {
  display: block;
  margin-top: 0.9375rem;
  color: rgba(112, 112, 112, 0.6);
  font-size: 0.6875rem;
  line-height: 0.9375rem;
}

form small ul,
form .description ul,
.form__element__description ul,
.password-suggestions ul,
.webform-component--mandatory-fields p ul,
.form__element ~ p ul {
  display: block;
  padding-left: 0;
  margin-left: 0;
  overflow: hidden;
  padding-left: 0;
}

form small ul > li,
form .description ul > li,
.form__element__description ul > li,
.password-suggestions ul > li,
.webform-component--mandatory-fields p ul > li,
.form__element ~ p ul > li {
  position: relative;
  display: block;
  margin-bottom: 0.375rem;
  list-style: none;
}

form small ul > li:last-child,
form .description ul > li:last-child,
.form__element__description ul > li:last-child,
.password-suggestions ul > li:last-child,
.webform-component--mandatory-fields p ul > li:last-child,
.form__element ~ p ul > li:last-child {
  margin-bottom: 0;
}

form small ul > li,
form .description ul > li,
.form__element__description ul > li,
.password-suggestions ul > li,
.webform-component--mandatory-fields p ul > li,
.form__element ~ p ul > li {
  padding-left: 1.1875rem;
}

form small ul > li::before,
form .description ul > li::before,
.form__element__description ul > li::before,
.password-suggestions ul > li::before,
.webform-component--mandatory-fields p ul > li::before,
.form__element ~ p ul > li::before {
  content: "";
  position: absolute;
  left: 1px;
  top: 0.75rem;
  display: block;
  margin-top: -1px;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  background: #10bfff;
}

form small ul > li ul li::before,
form .description ul > li ul li::before,
.form__element__description ul > li ul li::before,
.password-suggestions ul > li ul li::before,
.webform-component--mandatory-fields p ul > li ul li::before,
.form__element ~ p ul > li ul li::before {
  border: 1px solid #10bfff;
  border-radius: 50%;
  background: transparent;
}

form small ul > li ul li li::before,
form .description ul > li ul li li::before,
.form__element__description ul > li ul li li::before,
.password-suggestions ul > li ul li li::before,
.webform-component--mandatory-fields p ul > li ul li li::before,
.form__element ~ p ul > li ul li li::before {
  border: 0 none;
  border-radius: 0;
  background: #10bfff;
}

form small ul > li,
form .description ul > li,
.form__element__description ul > li,
.password-suggestions ul > li,
.webform-component--mandatory-fields p ul > li,
.form__element ~ p ul > li {
  margin-top: 0.375rem;
  padding-left: 0.75rem;
}

form small ul > li::before,
form .description ul > li::before,
.form__element__description ul > li::before,
.password-suggestions ul > li::before,
.webform-component--mandatory-fields p ul > li::before,
.form__element ~ p ul > li::before {
  top: 0.5rem;
  font-size: 4px;
}

.grecaptcha-badge {
  z-index: 910;
}

.form__label {
  display: block;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

.form__label.is-active {
  color: #10bfff;
}

.form__label__required {
  display: none;
}

.js-form-required .form__label__required {
  display: inline-block;
  text-decoration: none;
  color: #de0055;
}

.form__label__not-required {
  display: none;
}

.form__element--error .form__label {
  color: #e74c3c;
}

input:not([type]), input:not([type="range"]):not([type="radio"]):not([type="checkbox"]):not([type="image"]):not([type="button"]):not([type="reset"]):not([type="submit"]):not([type="hidden"]),
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0.5625rem 0.625rem;
  width: 100%;
  border: 1px solid #d1d1d1;
  border-radius: 0;
  color: #303030;
  background: #fff;
  outline: none;
  transition: all 0.3s ease-in-out;
}

input:not([type]):-ms-input-placeholder, input:not([type="range"]):not([type="radio"]):not([type="checkbox"]):not([type="image"]):not([type="button"]):not([type="reset"]):not([type="submit"]):not([type="hidden"]):-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #d1d1d1;
  opacity: 1;
}

input:not([type])::placeholder, input:not([type="range"]):not([type="radio"]):not([type="checkbox"]):not([type="image"]):not([type="button"]):not([type="reset"]):not([type="submit"]):not([type="hidden"])::placeholder,
textarea::placeholder {
  color: #d1d1d1;
  opacity: 1;
}

input:not([type]):focus, input:not([type]):focus:hover, input:not([type="range"]):not([type="radio"]):not([type="checkbox"]):not([type="image"]):not([type="button"]):not([type="reset"]):not([type="submit"]):not([type="hidden"]):focus, input:not([type="range"]):not([type="radio"]):not([type="checkbox"]):not([type="image"]):not([type="button"]):not([type="reset"]):not([type="submit"]):not([type="hidden"]):focus:hover,
textarea:focus,
textarea:focus:hover {
  border-color: #43cdff;
  outline: 0;
}

input:not([type])[disabled], input:not([type]):disabled, input:not([type="range"]):not([type="radio"]):not([type="checkbox"]):not([type="image"]):not([type="button"]):not([type="reset"]):not([type="submit"]):not([type="hidden"])[disabled], input:not([type="range"]):not([type="radio"]):not([type="checkbox"]):not([type="image"]):not([type="button"]):not([type="reset"]):not([type="submit"]):not([type="hidden"]):disabled,
textarea[disabled],
textarea:disabled {
  opacity: .5;
  border-color: #e5e5e5;
  color: #e5e5e5;
  background: #fff;
}

input:not([type]).error, input:not([type="range"]):not([type="radio"]):not([type="checkbox"]):not([type="image"]):not([type="button"]):not([type="reset"]):not([type="submit"]):not([type="hidden"]).error,
textarea.error {
  border-color: #e74c3c;
  color: #e74c3c;
}

input.error {
  color: #e74c3c;
}

input.admin-menu-search {
  height: auto;
}

input[type="radio"] {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #fff;
  box-shadow: none;
  transition: background-color ease-in-out 0.1s, border-color ease-in-out 0.1s, box-shadow ease-in-out 0.1s;
}

input[type="radio"]:checked {
  background: #10bfff;
  box-shadow: inset 0 0 0 3px #fff;
}

input[type="radio"]:disabled:checked {
  background: #e5e5e5;
  box-shadow: inset 0 0 0 3px #fff;
}

input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 0.3125rem;
  border: 1px solid #e6e6e6;
  border-radius: 0.3125rem;
  background-color: #e6e6e6;
}

input[type="range"]::-webkit-slider-thumb {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  width: 0.9375rem;
  height: 0.9375rem;
  border: 1px solid #d1d1d1;
  border-radius: 0.1875rem;
  background-color: #fff;
}

input[type="range"]:focus, input[type="range"]:focus:hover {
  outline: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  height: 2.75rem;
  width: 100%;
  padding: 0 2.5rem 0 0.625rem;
  border: 1px solid #d1d1d1;
  border-radius: 0;
  line-height: 2.625rem;
  color: #303030;
  background-color: #fff;
  background-image: linear-gradient(45deg, transparent 50%, #303030 50%), linear-gradient(135deg, #303030 50%, transparent 50%);
  background-position: calc(100% - 20px) 18px, calc(100% - 15px) 18px, calc(100% - 2.5em) 8px;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}

select::-ms-expand {
  display: none;
}

select:focus, select:focus:hover {
  border-color: #43cdff;
  color: #10bfff;
  outline: 0;
}

select:disabled, select[disabled] {
  border-color: #e5e5e5;
  border-style: dashed;
  color: #e5e5e5;
  background: #fff;
  opacity: .5;
}

.form__dropdown {
  position: relative;
}

.form__dropdown select {
  background-image: none;
}

.form__dropdown::after {
  content: "\f078";
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 0.875rem;
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
  color: #303030;
}

.form__dropdown::after {
  pointer-events: none;
  position: absolute;
  right: 10px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* stylelint-disable */
form .select2-container--default .select2-selection--multiple {
  min-height: 0;
  padding: 1.4375rem 1.25rem 0.375rem 1.25rem;
  border: 1px solid #d1d1d1;
  border-radius: 0;
  line-height: 0;
}

form .select2-container--default .select2-selection--multiple .select2-selection__rendered {
  margin-left: -0.3125rem;
}

form .select2-container--default .select2-selection--multiple .select2-selection__rendered li {
  margin-bottom: 0;
}

form .select2-container--default .select2-selection--multiple .select2-selection__rendered li.select2-selection__choice {
  line-height: 1.5;
}

form .select2-container--default .select2-selection--multiple input[type="search"] {
  margin: 0 !important;
  padding: 0 !important;
  border: 0 none !important;
}

form .select2-container--default.select2-container--focus .select2-selection--multiple {
  border-color: #43cdff;
}

form .select2-container--default.select2-container--disabled .select2-selection--multiple {
  border-color: #e5e5e5;
}

/* stylelint-enable */
textarea {
  resize: vertical;
  overflow: auto;
  min-height: 8.75rem;
}

.form-textarea-wrapper {
  display: block;
}

.form-textarea-wrapper .grippie {
  display: none;
}

.webform-document-file .button {
  margin-top: 0.625rem;
}

.form-managed-file {
  -ms-flex-align: center;
  align-items: center;
}

.form-managed-file button {
  margin-top: 0.625rem;
}

@media (min-width: 768px) {
  .webform-document-file {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .webform-document-file .description {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }
  .webform-document-file .button {
    margin-left: 0.625rem;
    margin-top: 0;
  }
  .file-upload-wrapper {
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: auto;
  }
  .form-managed-file {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .form-managed-file button {
    margin-top: 0;
    margin-left: 0.625rem;
  }
}

.button,
input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  display: inline-block;
  border: 0 none;
  border-radius: 0;
  text-align: center;
  text-decoration: none;
  background: #10bfff;
  background-repeat: no-repeat;
  outline: none;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

.button, .button:visited,
input[type="button"],
input[type="button"]:visited, input[type="reset"], input[type="reset"]:visited, input[type="submit"], input[type="submit"]:visited {
  color: #fff;
}

.button:hover, .button:active,
input[type="button"]:hover,
input[type="button"]:active, input[type="reset"]:hover, input[type="reset"]:active, input[type="submit"]:hover, input[type="submit"]:active {
  border: 0 none;
  color: #fff;
  background: #de0055;
  outline: none;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

.button:focus, .button:focus:hover,
input[type="button"]:focus,
input[type="button"]:focus:hover, input[type="reset"]:focus, input[type="reset"]:focus:hover, input[type="submit"]:focus, input[type="submit"]:focus:hover {
  outline: 0;
}

.button.disabled, .button:disabled, .button[disabled],
input[type="button"].disabled,
input[type="button"]:disabled,
input[type="button"][disabled], input[type="reset"].disabled, input[type="reset"]:disabled, input[type="reset"][disabled], input[type="submit"].disabled, input[type="submit"]:disabled, input[type="submit"][disabled] {
  pointer-events: none;
  cursor: default;
  opacity: .5;
}

.button--secondary {
  cursor: pointer;
  display: inline-block;
  border: 0 none;
  border-radius: 0;
  text-align: center;
  text-decoration: none;
  background: #fff;
  background-repeat: no-repeat;
  outline: none;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: inset 0 0 0 2px #10bfff;
}

.button--secondary, .button--secondary:visited {
  color: #10bfff;
}

.button--secondary:hover, .button--secondary:active {
  border: 0 none;
  color: #fff;
  background: #de0055;
  outline: none;
  box-shadow: inset 0 0 0 2px rgba(16, 191, 255, 0);
}

.button--secondary:focus, .button--secondary:focus:hover {
  outline: 0;
}

.button--secondary.disabled, .button--secondary:disabled, .button--secondary[disabled] {
  pointer-events: none;
  cursor: default;
  opacity: .5;
}

.button--negative {
  cursor: pointer;
  display: inline-block;
  border: 0 none;
  border-radius: 0;
  text-align: center;
  text-decoration: none;
  background: #fff;
  background-repeat: no-repeat;
  outline: none;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: inset 0 0 0 2px #fff;
}

.button--negative, .button--negative:visited {
  color: #10bfff;
}

.button--negative:hover, .button--negative:active {
  border: 0 none;
  color: #de0055;
  background: #fff;
  outline: none;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0);
}

.button--negative:focus, .button--negative:focus:hover {
  outline: 0;
}

.button--negative.disabled, .button--negative:disabled, .button--negative[disabled] {
  pointer-events: none;
  cursor: default;
  opacity: .5;
}

.actions .actions__divider {
  text-align: center;
}

@media (min-width: 768px) {
  .actions .actions__divider {
    text-align: left;
  }
}

.text-long .cke-button,
.cke_editable .cke-button {
  cursor: pointer;
  display: inline-block;
  border: 0 none;
  border-radius: 0;
  text-align: center;
  text-decoration: none;
  background: #10bfff;
  background-repeat: no-repeat;
  outline: none;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

.text-long .cke-button, .text-long .cke-button:visited,
.cke_editable .cke-button,
.cke_editable .cke-button:visited {
  color: #fff;
}

.text-long .cke-button:hover, .text-long .cke-button:active,
.cke_editable .cke-button:hover,
.cke_editable .cke-button:active {
  border: 0 none;
  color: #fff;
  background: #de0055;
  outline: none;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

.text-long .cke-button:focus, .text-long .cke-button:focus:hover,
.cke_editable .cke-button:focus,
.cke_editable .cke-button:focus:hover {
  outline: 0;
}

.text-long .cke-button.disabled, .text-long .cke-button:disabled, .text-long .cke-button[disabled],
.cke_editable .cke-button.disabled,
.cke_editable .cke-button:disabled,
.cke_editable .cke-button[disabled] {
  pointer-events: none;
  cursor: default;
  opacity: .5;
}

.text-long .cke-button--secondary,
.cke_editable .cke-button--secondary {
  cursor: pointer;
  display: inline-block;
  border: 0 none;
  border-radius: 0;
  text-align: center;
  text-decoration: none;
  background: #fff;
  background-repeat: no-repeat;
  outline: none;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: inset 0 0 0 2px #10bfff;
}

.text-long .cke-button--secondary, .text-long .cke-button--secondary:visited,
.cke_editable .cke-button--secondary,
.cke_editable .cke-button--secondary:visited {
  color: #10bfff;
}

.text-long .cke-button--secondary:hover, .text-long .cke-button--secondary:active,
.cke_editable .cke-button--secondary:hover,
.cke_editable .cke-button--secondary:active {
  border: 0 none;
  color: #fff;
  background: #de0055;
  outline: none;
  box-shadow: inset 0 0 0 2px rgba(16, 191, 255, 0);
}

.text-long .cke-button--secondary:focus, .text-long .cke-button--secondary:focus:hover,
.cke_editable .cke-button--secondary:focus,
.cke_editable .cke-button--secondary:focus:hover {
  outline: 0;
}

.text-long .cke-button--secondary.disabled, .text-long .cke-button--secondary:disabled, .text-long .cke-button--secondary[disabled],
.cke_editable .cke-button--secondary.disabled,
.cke_editable .cke-button--secondary:disabled,
.cke_editable .cke-button--secondary[disabled] {
  pointer-events: none;
  cursor: default;
  opacity: .5;
}

.text-long p .actions__divider,
.cke_editable p .actions__divider {
  margin-right: 0.625rem;
}

.text-long p .cke-button,
.cke_editable p .cke-button {
  margin-top: 0.625rem;
  margin-right: 0.625rem;
}

.text-long p .cke-button:last-child,
.cke_editable p .cke-button:last-child {
  margin-right: 0;
}

.text-long p .cke-button--secondary,
.cke_editable p .cke-button--secondary {
  margin-top: 0.625rem;
  margin-right: 0.625rem;
}

.text-long p .cke-button--secondary:last-child,
.cke_editable p .cke-button--secondary:last-child {
  margin-right: 0;
}

table {
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  text-align: left;
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  padding: 0.625rem;
  text-align: left;
  vertical-align: top;
}

td {
  padding: 0.625rem;
}

tbody td {
  padding: 0.625rem;
}

caption {
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
}

@media (max-width: 767px) {
  .table-responsive.is-reformatted {
    /* Force table to not be like tables anymore */
  }
  .table-responsive.is-reformatted caption {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #d1d1d1;
  }
  .table-responsive.is-reformatted table,
  .table-responsive.is-reformatted thead,
  .table-responsive.is-reformatted tbody,
  .table-responsive.is-reformatted th,
  .table-responsive.is-reformatted td,
  .table-responsive.is-reformatted tr {
    display: block;
  }
  .table-responsive.is-reformatted thead {
    border: 0 none;
    background: transparent;
  }
  .table-responsive.is-reformatted thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .table-responsive.is-reformatted tr {
    border: 0 none;
  }
  .table-responsive.is-reformatted tr.odd td {
    border-bottom: 1px solid #fff;
  }
  .table-responsive.is-reformatted td {
    /* Behave  like a "row" */
    position: relative;
    border: none;
    border-bottom: 1px solid #d1d1d1;
  }
  .table-responsive.is-reformatted td::before {
    content: attr(data-title) ": ";
    /* Now like a table header */
    /* Top/left values mimic padding */
    display: block;
    padding-right: 10px;
    white-space: nowrap;
    font-weight: bold;
  }
  .table-responsive.is-reformatted table.no-th td {
    position: static;
    width: auto;
  }
  .table-responsive.is-reformatted table.no-th td::before {
    display: none;
  }
}

@media (max-width: 767px) {
  .table-responsive.has-scroll {
    position: relative;
    margin-bottom: 2.5rem;
  }
  .table-responsive.has-scroll table {
    table-layout: auto;
    border-collapse: separate;
    border-spacing: 0;
    empty-cells: show;
    margin-bottom: 0;
    border: 0 none;
  }
  .table-responsive.has-scroll.js-table--no-th {
    -ms-overflow-style: -ms-autohiding-scrollbar;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    min-height: .01%;
  }
  .table-responsive.has-scroll.js-table--th-row {
    overflow: hidden;
  }
  .table-responsive.has-scroll.js-table--th-row table {
    position: relative;
    width: 100%;
    padding: 0;
  }
  .table-responsive.has-scroll.js-table--th-row thead {
    position: absolute;
    top: 0;
    display: block;
    height: 100%;
    width: 7.5rem;
  }
  .table-responsive.has-scroll.js-table--th-row thead tr {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .table-responsive.has-scroll.js-table--th-row thead tr:last-child {
    border-bottom: 0 none;
  }
  .table-responsive.has-scroll.js-table--th-row thead th,
  .table-responsive.has-scroll.js-table--th-row thead td {
    display: block;
    overflow: hidden;
    min-height: 6.25rem;
    text-overflow: ellipsis;
    word-wrap: normal;
  }
  .table-responsive.has-scroll.js-table--th-row tbody {
    display: -ms-flexbox;
    display: flex;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    overflow-x: auto;
    overflow-y: hidden;
    width: calc(100vw - 120px - 40px);
  }
  .table-responsive.has-scroll.js-table--th-row tbody tr {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .table-responsive.has-scroll.js-table--th-row tbody th,
  .table-responsive.has-scroll.js-table--th-row tbody td {
    display: block;
    min-height: 6.25rem;
  }
  .table-responsive.has-scroll.js-table--th-top thead {
    left: 0;
  }
  .table-responsive.has-scroll.js-table--th-top tbody {
    margin-left: 7.5rem;
  }
  .table-responsive.has-scroll.js-table--th-bottom thead {
    right: 0;
  }
  .table-responsive.has-scroll.js-table--th-bottom tbody {
    margin-right: 7.5rem;
  }
  .table-responsive.has-scroll.js-table--th-col table {
    display: block;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0;
    width: 100%;
  }
  .table-responsive.has-scroll.js-table--th-col tbody {
    position: static;
  }
  .table-responsive.has-scroll.js-table--th-col tr {
    position: static;
  }
  .table-responsive.has-scroll.js-table--th-col tr:last-child .th__content {
    border-bottom: 0 none;
  }
  .table-responsive.has-scroll.js-table--th-col th {
    padding: 0;
    width: 0;
    border: 0;
    background: transparent none;
  }
  .table-responsive.has-scroll.js-table--th-col .th__content {
    position: absolute;
    width: 7.5rem;
    padding: 0.625rem;
  }
  .table-responsive.has-scroll.js-table--th-left {
    padding-left: 7.5rem;
  }
  .table-responsive.has-scroll.js-table--th-left .th__content {
    left: 0;
  }
  .table-responsive.has-scroll.js-table--th-right {
    padding-right: 7.5rem;
  }
  .table-responsive.has-scroll.js-table--th-right .th__content {
    right: 0;
  }
}

.text-long table {
  margin-bottom: 1.5rem;
}

.text-long table.no-margin {
  margin-bottom: 0;
}

.tabs__link {
  display: block;
  padding: 0.625rem 0.9375rem;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  font-size: 0.875rem;
  line-height: 1.125rem;
  background-color: #e5e5e5;
}

.tabs__link, .tabs__link:visited {
  color: #fff;
  background-color: #e5e5e5;
}

.tabs__link:hover {
  color: #fff;
  background-color: #de0055;
}

.tabs__link.is-active {
  color: #fff;
  background-color: #de0055;
}

@media (min-width: 768px) {
  .tabs li {
    display: inline-block;
  }
  .tabs__link {
    display: inline-block;
    border-top: 0 none;
  }
  .tabs__link.is-active {
    color: #de0055;
    background-color: #fff;
  }
}

.ajax-progress-throbber {
  position: relative;
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
}

.ajax-progress-throbber .throbber {
  display: block;
  width: 0.9375rem;
  height: 0.9375rem;
  border: 3px solid rgba(16, 191, 255, 0.2);
  border-top-color: #10bfff;
  border-radius: 100%;
  background-image: none;
  animation: spin 1s infinite linear;
  pointer-events: none;
}

button + .ajax-progress-throbber {
  margin-left: 0.625rem;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

html,
body,
.cke_show_borders {
  background: #fff;
}

body,
.cke_show_borders {
  padding: 0.625rem;
}

.cke_show_borders .text-align-right {
  text-align: right;
}

.cke_show_borders .text-align-center {
  text-align: center;
}

.cke_show_borders .text-align-justify {
  text-align: justify;
}

.cke_show_borders::after {
  clear: both;
  content: "";
  display: table;
}

.cke_show_borders p:last-child,
.cke_show_borders .p:last-child {
  margin-bottom: 0;
}

.cke_show_borders p.no-margin,
.cke_show_borders .p.no-margin {
  margin-bottom: 0;
}

.cke_show_borders ul:not(.inline) .text-align-right::before,
.cke_show_borders ul:not(.inline) .text-align-center::before,
.cke_show_borders ol:not(.inline) .text-align-right::before,
.cke_show_borders ol:not(.inline) .text-align-center::before {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  margin-right: 0.625rem;
}

.cke_show_borders blockquote,
.cke_show_borders .blockquote {
  position: relative;
  margin: 0 0 1.5rem 0;
  padding: 0;
  width: 100%;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-style: italic;
  color: #10bfff;
  background-color: transparent;
}

.cke_show_borders blockquote::before,
.cke_show_borders .blockquote::before {
  content: "\201C";
  margin-right: 0.25rem;
}

.cke_show_borders blockquote::after,
.cke_show_borders .blockquote::after {
  content: "\201D";
  margin-left: -0.25rem;
}

.cke_show_borders blockquote p,
.cke_show_borders .blockquote p {
  display: inline;
}

.cke_show_borders blockquote:last-child,
.cke_show_borders .blockquote:last-child {
  margin-bottom: 0;
}

.cke_show_borders hr,
.cke_show_borders .hr {
  display: block;
  box-sizing: content-box;
  overflow: visible;
  margin: 1.5rem 0;
  padding: 0;
  width: 100%;
  height: 0;
  border: 0;
  border-top: 1px solid #d1d1d1;
}

.cke_show_borders hr:last-child,
.cke_show_borders .hr:last-child {
  margin-bottom: 0;
}

.cke_show_borders pre,
.cke_show_borders .pre {
  overflow: auto;
  -ms-overflow-style: scrollbar;
  margin: 0 0 1.5rem 0;
  padding: 0.9375rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.3125rem;
  font-family: monospace;
  font-size: 1em;
  white-space: pre-line;
  color: #303030;
  background-color: #fff;
}

.cke_show_borders pre:last-child,
.cke_show_borders .pre:last-child {
  margin-bottom: 0;
}
