/**
 * Square mixin
 *
 * @param [Number] $dimensions = the height and width of the element
 */
/* stylelint-disable */
/* stylelint-enable */
.icon--icon-usp:before {
  display: inline-block;
  height: 3.785em;
  width: 4.16em;
  font-size: 0.39062rem;
  background-image: url("../images/generated/sprite.svg");
  background-position: 0em 0em;
  background-size: 11.5em 11.125em;
  content: "";
}

.icon--test:before {
  display: inline-block;
  height: 6.5em;
  width: 6.5em;
  font-size: 0.25rem;
  background-image: url("../images/generated/sprite.svg");
  background-position: -4.625em -4.25em;
  background-size: 11.5em 11.125em;
  content: "";
}

/*!
 * Font Awesome Pro 5.15.2 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license (Commercial License)
 */
#cboxWrapper {
  border-radius: 0;
}

#cboxCurrent {
  bottom: 0;
}

body::after {
  content: "bp-xs";
  position: fixed;
  bottom: 0;
  right: 0;
  display: block;
  padding: 0.625rem;
  background: red;
  visibility: hidden;
  opacity: 0;
}

body.theme-debug-mode::after {
  visibility: visible;
}

@media (min-width: 768px) {
  body::after {
    content: "bp-sm";
    position: fixed;
    bottom: 0;
    right: 0;
    background: #ffce00;
  }
}

@media (min-width: 940px) {
  body::after {
    content: "bp-md";
    position: fixed;
    bottom: 0;
    right: 0;
    background: yellow;
  }
}

@media (min-width: 1200px) {
  body::after {
    content: "bp-lg";
    position: fixed;
    bottom: 0;
    right: 0;
    background: green;
  }
}

/* stylelint-disable */
/* stylelint-enable */
:root {
  --c-text: #303030;
  --c-background: #fff;
  --c-primary: #10bfff;
  --c-secondary: #de0055;
  --c-off-white: #f3f3f3;
  --c-disabled: #e5e5e5;
  --c-gray-light-1: #e5e5e5;
  --c-gray-light-2: #d1d1d1;
  --c-gray-light-3: #a2a2a2;
  --c-gray-medium: #707070;
  --c-success: #3fc380;
  --c-warning: #eb9532;
  --c-error: #e74c3c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --c-text: #303030;
    --c-background: #fff;
  }
}

:root [data-theme="default"] {
  --c-text: #303030;
  --c-background: #fff;
  --c-primary: #10bfff;
  --c-secondary: #de0055;
  --c-off-white: #f3f3f3;
  --c-disabled: #e5e5e5;
  --c-gray-light-1: #e5e5e5;
  --c-gray-light-2: #d1d1d1;
  --c-gray-light-3: #a2a2a2;
  --c-gray-medium: #707070;
  --c-success: #3fc380;
  --c-warning: #eb9532;
  --c-error: #e74c3c;
}

:root [data-theme="dark"] {
  --c-text: #303030;
  --c-background: #fff;
}

.cl-colors {
  padding: 1rem;
}

.cl-colors__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 0 2rem;
  padding: 0;
}

.cl-colors__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 1 20%;
  flex: 1 1 20%;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 150px;
  min-width: 150px;
  margin: .25rem;
  padding: 1rem 2rem;
  list-style: none;
  transition: all 0.4s;
}

.cl-colors__item--default-text {
  color: var(--c-off-white);
  background-color: var(--c-text);
}

.cl-colors__item--default-background {
  color: var(--c-color-black);
  background-color: var(--c-background);
}

.cl-colors__item--default-primary {
  color: var(--c-color-black);
  background-color: var(--c-primary);
}

.cl-colors__item--default-secondary {
  color: var(--c-off-white);
  background-color: var(--c-secondary);
}

.cl-colors__item--default-off-white {
  color: var(--c-color-black);
  background-color: var(--c-off-white);
}

.cl-colors__item--default-disabled {
  color: var(--c-color-black);
  background-color: var(--c-disabled);
}

.cl-colors__item--default-gray-light-1 {
  color: var(--c-color-black);
  background-color: var(--c-gray-light-1);
}

.cl-colors__item--default-gray-light-2 {
  color: var(--c-color-black);
  background-color: var(--c-gray-light-2);
}

.cl-colors__item--default-gray-light-3 {
  color: var(--c-color-black);
  background-color: var(--c-gray-light-3);
}

.cl-colors__item--default-gray-medium {
  color: var(--c-off-white);
  background-color: var(--c-gray-medium);
}

.cl-colors__item--default-success {
  color: var(--c-color-black);
  background-color: var(--c-success);
}

.cl-colors__item--default-warning {
  color: var(--c-color-black);
  background-color: var(--c-warning);
}

.cl-colors__item--default-error {
  color: var(--c-color-black);
  background-color: var(--c-error);
}

.cl-colors__item--dark-text {
  color: var(--c-accent-high);
  background-color: var(--c-text);
}

.cl-colors__item--dark-background {
  color: var(--c-muted);
  background-color: var(--c-background);
}

.motion {
  padding: 0 1rem;
}

@media (min-width: 920px) {
  .motion__grid {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media (min-width: 920px) {
  .motion__grid-item {
    margin-bottom: 1rem;
    margin-right: 1rem;
    width: 49%;
  }
  .motion__grid-item:nth-child(2n) {
    margin-right: 0;
  }
}

.demo-motion {
  padding: 3rem;
  border-radius: 2px;
  text-align: center;
  color: #fff;
  background-color: #10bfff;
  cursor: pointer;
}

.demo-motion::before {
  display: block;
  content: "Duration: 0.3s";
}

.demo-motion::after {
  content: "Timing Function: ease-in-out";
}

.demo-motion span {
  display: block;
  margin: 0.25rem;
}

.demo-motion--fade {
  transition: all 0.3s ease-in-out;
}

.demo-motion--fade:hover {
  color: #fff;
  background-color: #de0055;
}

.demo-motion--slide-up {
  transition: transform 0.3s ease-in-out;
}

.demo-motion--slide-up::before {
  content: "Duration: 0.3s";
  display: block;
}

.demo-motion--slide-up::after {
  content: "Timing Function: ease-in-out";
}

.demo-motion--slide-up:hover {
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
}

.demo-motion--slide-down {
  transition: transform 0.3s ease-in-out;
}

.demo-motion--slide-down::before {
  content: "Duration: 0.3s";
  display: block;
}

.demo-motion--slide-down::after {
  content: "Timing Function: ease-in-out";
}

.demo-motion--slide-down:hover {
  -ms-transform: translateY(10px);
  transform: translateY(10px);
}

.demo-motion--expand {
  transition: transform 0.3s ease-in-out;
}

.demo-motion--expand::before {
  content: "Duration: 0.3s";
  display: block;
}

.demo-motion--expand::after {
  content: "Timing Function: ease-in-out";
}

.demo-motion--expand:hover {
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@-ms-viewport {
  width: device-width;
}

body {
  font-family: "Arial", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  text-align: left;
  text-rendering: optimizeSpeed;
  color: #303030;
  background-color: #fff;
  scroll-behavior: smooth;
}

.font-text-01-loaded body {
  font-family: "Open Sans", "Arial", sans-serif;
}

[tabindex="-1"]:focus {
  outline: none !important;
}

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

figure {
  margin: 0;
}

hr {
  display: none;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

svg:not(:root) {
  overflow: hidden;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

output {
  display: inline-block;
}

a,
area,
button,
[role="button"],
input:not([type="range"]),
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

p {
  margin-top: 0;
}

abbr[title],
abbr[data-original-title] {
  border-bottom: 0;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
}

address {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-top: 0;
  margin-bottom: 0.9375rem;
  margin-left: 0;
}

dfn {
  font-style: italic;
}

b,
strong {
  font-weight: bolder;
}

em,
i {
  font-style: italic;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

pre,
code,
kbd,
samp {
  font-family: monospace;
  font-size: 1em;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

button {
  border: 0 none;
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  box-sizing: border-box;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="date"]::-webkit-calendar-picker-indicator:hover,
input[type="datetime"]::-webkit-calendar-picker-indicator:hover,
input[type="datetime-local"]::-webkit-calendar-picker-indicator:hover,
input[type="week"]::-webkit-calendar-picker-indicator:hover {
  background: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  font-size: 1.5rem;
  line-height: inherit;
  white-space: normal;
  color: inherit;
  margin-bottom: .5rem;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
  appearance: button;
}

input[type="button"], input[type="reset"], input[type="submit"] {
  outline: 0;
}

input[type="button"]:focus, input[type="button"]:focus:hover, input[type="reset"]:focus, input[type="reset"]:focus:hover, input[type="submit"]:focus, input[type="submit"]:focus:hover {
  outline: 0;
}

#styleguide-header .item-list {
  width: 100%;
  margin: 0 0 1.5rem 0;
}

@media (min-width: 480px) and (max-width: 767px) {
  #styleguide-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  #styleguide-header .item-list {
    width: 50%;
    padding: 0 0.625rem;
  }
}

@media (min-width: 768px) {
  #styleguide-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  #styleguide-header .item-list {
    width: 25%;
    padding: 0 0.625rem;
  }
}

.iframe-responsive {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
  width: 100%;
}

.iframe-responsive--full {
  padding-bottom: 75%;
}

.iframe-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.pull-right,
[class*="col--"].pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.clear {
  clear: both;
}

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

.hide,
.visually-hidden {
  position: absolute !important;
  display: block !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  overflow: hidden !important;
  height: 0.0625rem !important;
  width: 0.0625rem !important;
  word-wrap: normal !important;
}

.hide.focusable:focus,
.visually-hidden.focusable:focus {
  position: fixed !important;
  left: 0 !important;
  top: 0 !important;
  z-index: 10010 !important;
  display: block !important;
  clip: auto !important;
  overflow: visible !important;
  height: auto !important;
  width: auto !important;
  background: #fff;
}

.hide-text,
.hidden-text {
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
}

.hidden {
  display: none;
}

.invisible,
.element-invisible {
  visibility: hidden;
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
  .visible-xs {
    display: block !important;
  }
  .visible-sm {
    display: none !important;
  }
  .visible-md {
    display: none !important;
  }
  .visible-lg {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 939px) {
  .visible-xs {
    display: none !important;
  }
  .hidden-sm {
    display: none !important;
  }
  .visible-sm {
    display: block !important;
  }
  .visible-md {
    display: none !important;
  }
  .visible-lg {
    display: none !important;
  }
}

@media (min-width: 940px) and (max-width: 1199px) {
  .visible-xs {
    display: none !important;
  }
  .visible-sm {
    display: none !important;
  }
  .hidden-md {
    display: none !important;
  }
  .visible-md {
    display: block !important;
  }
  .visible-lg {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .visible-xs {
    display: none !important;
  }
  .visible-sm {
    display: none !important;
  }
  .visible-md {
    display: none !important;
  }
  .visible-lg {
    display: block !important;
  }
  .hidden-lg {
    display: none !important;
  }
}

.animate-fade {
  transition: opacity 0.3s ease-out;
}

.animate-fade:hover {
  opacity: 0;
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.container {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin: 0 auto;
  max-width: none;
}

@media (min-width: 768px) {
  .container {
    max-width: none;
  }
}

@media (min-width: 940px) {
  .container {
    max-width: 940px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.container .container {
  padding: 0;
  margin: 0;
  max-width: none;
}

.container--fluid {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.container--fluid .container {
  padding: 0;
}

.page {
  overflow-x: hidden;
  overflow-y: auto;
}

a {
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration-skip-ink: auto;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  /**
  * Remove the outline on focused links when they are also active or hovered
  * in all browsers (opinionated).
  */
}

a, a:visited {
  color: #de0055;
}

a:hover {
  color: #10bfff;
}

a:active, a:focus {
  color: #10bfff;
}

a::after, a::before {
  transition: all 0.3s ease-in-out;
}

a:hover, a:active {
  outline-width: 0;
}

.more-link a,
.link--more {
  border: 5px solid red;
}

.more-link--big a,
.link--more-big {
  border: 5px solid red;
}

.back-link a,
.link--back {
  border: 5px solid red;
}

a:not([href]):not([tabindex]) {
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

[onclick^="location.href="],
[onclick^="window.open"] {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Arial", sans-serif;
}

.font-text-01-loaded h1,
.font-text-01-loaded h2,
.font-text-01-loaded h3,
.font-text-01-loaded h4,
.font-text-01-loaded h5,
.font-text-01-loaded h6,
.font-text-01-loaded .h1,
.font-text-01-loaded .h2,
.font-text-01-loaded .h3,
.font-text-01-loaded .h4,
.font-text-01-loaded .h5,
.font-text-01-loaded .h6 {
  font-weight: 700;
}

.font-text-01-loaded h1 a,
.font-text-01-loaded h1 a:visited,
.font-text-01-loaded h2 a,
.font-text-01-loaded h2 a:visited,
.font-text-01-loaded h3 a,
.font-text-01-loaded h3 a:visited,
.font-text-01-loaded h4 a,
.font-text-01-loaded h4 a:visited,
.font-text-01-loaded h5 a,
.font-text-01-loaded h5 a:visited,
.font-text-01-loaded h6 a,
.font-text-01-loaded h6 a:visited,
.font-text-01-loaded .h1 a,
.font-text-01-loaded .h1 a:visited,
.font-text-01-loaded .h2 a,
.font-text-01-loaded .h2 a:visited,
.font-text-01-loaded .h3 a,
.font-text-01-loaded .h3 a:visited,
.font-text-01-loaded .h4 a,
.font-text-01-loaded .h4 a:visited,
.font-text-01-loaded .h5 a,
.font-text-01-loaded .h5 a:visited,
.font-text-01-loaded .h6 a,
.font-text-01-loaded .h6 a:visited {
  text-decoration: none;
  color: #de0055;
}

.font-text-01-loaded h1 a:hover,
.font-text-01-loaded h2 a:hover,
.font-text-01-loaded h3 a:hover,
.font-text-01-loaded h4 a:hover,
.font-text-01-loaded h5 a:hover,
.font-text-01-loaded h6 a:hover,
.font-text-01-loaded .h1 a:hover,
.font-text-01-loaded .h2 a:hover,
.font-text-01-loaded .h3 a:hover,
.font-text-01-loaded .h4 a:hover,
.font-text-01-loaded .h5 a:hover,
.font-text-01-loaded .h6 a:hover {
  text-decoration: underline;
  color: #de0055;
}

h1,
.h1 {
  margin: 0 0 1.5rem 0;
  font-size: 2rem;
  line-height: 2.5rem;
  color: #303030;
}

h2,
.h2 {
  margin: 0 0 0.9375rem 0;
  font-size: 1.75rem;
  line-height: 2.1875rem;
  color: #303030;
}

h3,
.h3 {
  margin: 0 0 0.9375rem 0;
  font-size: 1.5rem;
  line-height: 1.875rem;
  color: #303030;
}

h4,
.h4 {
  margin: 0 0 0.9375rem 0;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #303030;
}

h5,
.h5 {
  margin: 0 0 0.3125rem 0;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #303030;
}

h6,
.h6 {
  margin: 0 0 0.3125rem 0;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #303030;
}

.text-long h2.no-margin,
.text-long h3.no-margin,
.text-long h4.no-margin,
.text-long h5.no-margin,
.text-long h6.no-margin {
  margin-bottom: 0;
}

mark,
.marker,
.highlight {
  display: inline-block;
  color: #171717;
  background-color: #ff0;
}

small,
.small {
  font-size: 0.6875rem;
  line-height: 0.85938rem;
}

p,
.p {
  margin-bottom: 1.5rem;
}

.text-long .text-align-right {
  text-align: right;
}

.text-long .text-align-center {
  text-align: center;
}

.text-long .text-align-justify {
  text-align: justify;
}

.text-long::after {
  clear: both;
  content: "";
  display: table;
}

.text-long p:last-child,
.text-long .p:last-child {
  margin-bottom: 0;
}

.text-long p.no-margin,
.text-long .p.no-margin {
  margin-bottom: 0;
}

.text-long ul:not(.inline) .text-align-right::before,
.text-long ul:not(.inline) .text-align-center::before,
.text-long ol:not(.inline) .text-align-right::before,
.text-long ol:not(.inline) .text-align-center::before {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  margin-right: 0.625rem;
}

.text-long blockquote,
.text-long .blockquote {
  position: relative;
  margin: 0 0 1.5rem 0;
  padding: 0;
  width: 100%;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-style: italic;
  color: #10bfff;
  background-color: transparent;
}

.text-long blockquote::before,
.text-long .blockquote::before {
  content: "\201C";
  margin-right: 0.25rem;
}

.text-long blockquote::after,
.text-long .blockquote::after {
  content: "\201D";
  margin-left: -0.25rem;
}

.text-long blockquote p,
.text-long .blockquote p {
  display: inline;
}

.text-long blockquote:last-child,
.text-long .blockquote:last-child {
  margin-bottom: 0;
}

.text-long hr,
.text-long .hr {
  display: block;
  box-sizing: content-box;
  overflow: visible;
  margin: 1.5rem 0;
  padding: 0;
  width: 100%;
  height: 0;
  border: 0;
  border-top: 1px solid #d1d1d1;
}

.text-long hr:last-child,
.text-long .hr:last-child {
  margin-bottom: 0;
}

.text-long pre,
.text-long .pre {
  overflow: auto;
  -ms-overflow-style: scrollbar;
  margin: 0 0 1.5rem 0;
  padding: 0.9375rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.3125rem;
  font-family: monospace;
  font-size: 1em;
  white-space: pre-line;
  color: #303030;
  background-color: #fff;
}

.text-long pre:last-child,
.text-long .pre:last-child {
  margin-bottom: 0;
}

ul,
ol,
dl {
  margin: 0 0 0.9375rem 0;
}

ul ul,
ul ol,
ol ul,
ol ol,
dl ul,
dl ol {
  margin-top: 0.9375rem;
  margin-bottom: 0.9375rem;
}

ul li,
ol li,
dl li {
  margin-bottom: 0.375rem;
  list-style-position: inside;
}

ul li:last-child,
ol li:last-child,
dl li:last-child {
  margin-bottom: 0;
}

ul {
  padding: 0 0 0 1.25rem;
}

ol {
  padding: 0 0 0 1.5rem;
}

dl {
  padding: 0 0 0 1.5rem;
}

dl dt {
  margin-top: 0.9375rem;
}

dl dt:first-child {
  margin-top: 0;
}

dl dt + dd {
  margin-top: 0.9375rem;
}

dl dd {
  margin-bottom: 0.375rem;
}

nav ul,
nav ol {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul > li,
nav ol > li {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.inline {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  margin: -0.3125rem -0.3125rem 1.5rem -0.3125rem;
}

ul.inline li {
  display: inline-block;
  margin: 0.3125rem 0.3125rem 0 0.3125rem;
  padding: 0;
}

.filter-type ul:not(.inline),
.text-long ul:not(.inline) {
  display: block;
  padding-left: 0;
  margin-left: 0;
  overflow: hidden;
}

.filter-type ul:not(.inline) > li,
.text-long ul:not(.inline) > li {
  position: relative;
  display: block;
  margin-bottom: 0.375rem;
  list-style: none;
}

.filter-type ul:not(.inline) > li:last-child,
.text-long ul:not(.inline) > li:last-child {
  margin-bottom: 0;
}

.filter-type ul:not(.inline) > li,
.text-long ul:not(.inline) > li {
  padding-left: 1.1875rem;
}

.filter-type ul:not(.inline) > li::before,
.text-long ul:not(.inline) > li::before {
  content: "";
  position: absolute;
  left: 1px;
  top: 0.75rem;
  display: block;
  margin-top: -1px;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  background: #10bfff;
}

.filter-type ul:not(.inline) > li ul li::before,
.text-long ul:not(.inline) > li ul li::before {
  border: 1px solid #10bfff;
  border-radius: 50%;
  background: transparent;
}

.filter-type ul:not(.inline) > li ul li li::before,
.text-long ul:not(.inline) > li ul li li::before {
  border: 0 none;
  border-radius: 0;
  background: #10bfff;
}

.filter-type ul:not(.inline) p,
.text-long ul:not(.inline) p {
  margin-bottom: 0.9375rem;
}

.filter-type ol,
.text-long ol {
  display: block;
  padding-left: 0;
  margin-left: 0;
  counter-reset: listStyle1;
  overflow: hidden;
}

.filter-type ol > li,
.text-long ol > li {
  position: relative;
  display: block;
  margin-bottom: 0.375rem;
  list-style: none;
}

.filter-type ol > li:last-child,
.text-long ol > li:last-child {
  margin-bottom: 0;
}

.filter-type ol > li,
.text-long ol > li {
  padding-left: 1.625rem;
  counter-increment: listStyle1;
}

.filter-type ol > li::before,
.text-long ol > li::before {
  position: absolute;
  top: 0;
  left: 0;
  content: counter(listStyle1) ".";
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #10bfff;
}

.filter-type ol > li ol,
.text-long ol > li ol {
  counter-reset: listStyle2;
}

.filter-type ol > li ol > li,
.text-long ol > li ol > li {
  counter-increment: listStyle2;
}

.filter-type ol > li ol > li::before,
.text-long ol > li ol > li::before {
  content: counter(listStyle2, lower-alpha) ".";
}

.filter-type ol > li ol > li > ol,
.text-long ol > li ol > li > ol {
  counter-reset: listStyle3;
}

.filter-type ol > li ol > li > ol > li,
.text-long ol > li ol > li > ol > li {
  counter-increment: listStyle3;
}

.filter-type ol > li ol > li > ol > li::before,
.text-long ol > li ol > li > ol > li::before {
  content: counter(listStyle3, lower-roman) ".";
}

.font-text-01-loaded .filter-type ol > li::before, .font-text-01-loaded
.text-long ol > li::before {
  font-family: "Open Sans", "Arial", sans-serif;
}

.filter-type ol p,
.text-long ol p {
  margin-bottom: 0.9375rem;
}

.filter-type ul:not(.inline).is-horizontal,
.filter-type ol.is-horizontal,
.text-long ul:not(.inline).is-horizontal,
.text-long ol.is-horizontal {
  margin-right: -1.875rem;
}

.filter-type ul:not(.inline).is-horizontal li,
.filter-type ol.is-horizontal li,
.text-long ul:not(.inline).is-horizontal li,
.text-long ol.is-horizontal li {
  display: inline-block;
  margin-right: 1.875rem;
}

.filter-type ul:not(.inline):last-child,
.filter-type ol:last-child,
.text-long ul:not(.inline):last-child,
.text-long ol:last-child {
  margin-bottom: 0;
}

.filter-type ul:not(.inline).no-margin,
.filter-type ol.no-margin,
.text-long ul:not(.inline).no-margin,
.text-long ol.no-margin {
  margin-bottom: 0;
}

.filter-type li > ol:last-child,
.filter-type li > ul:not(.inline):last-child,
.text-long li > ol:last-child,
.text-long li > ul:not(.inline):last-child {
  margin-bottom: 0.9375rem;
}

img {
  display: block;
  border-style: none;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.media__element {
  background-repeat: no-repeat !important;
}

.text-long::after {
  clear: both;
  content: "";
  display: table;
}

.text-long img, .text-long img.align-left, .text-long img.align-right, .text-long img.align-center,
.text-long figure,
.text-long figure.align-left,
.text-long figure.align-right,
.text-long figure.align-center,
.text-long [data-entity-type="media"],
.text-long [data-entity-type="media"].align-left,
.text-long [data-entity-type="media"].align-right,
.text-long [data-entity-type="media"].align-center {
  display: block;
  float: none;
  margin: 0 0 1.875rem 0;
  max-width: 100%;
  width: auto;
  height: auto;
}

@media (min-width: 768px) {
  .text-long img.align-left,
  .text-long figure.align-left,
  .text-long [data-entity-type="media"].align-left {
    float: left;
    margin: 0 1.875rem 1.875rem 0;
  }
  .text-long img.align-right,
  .text-long figure.align-right,
  .text-long [data-entity-type="media"].align-right {
    float: right;
    margin: 0 0 1.875rem 1.875rem;
  }
  .text-long img.align-center,
  .text-long figure.align-center,
  .text-long [data-entity-type="media"].align-center {
    margin-left: auto;
    margin-right: auto;
  }
}

.text-long figure.align-center img,
.text-long [data-entity-type="media"].align-center img {
  margin: 0 auto;
}

.text-long figure img,
.text-long [data-entity-type="media"] img {
  float: none;
  padding: 0;
}

.text-long figcaption {
  margin-top: 0.625rem;
  display: block;
  text-align: center;
  font-style: italic;
  color: #707070;
}

.icons-demo {
  display: -ms-flexbox;
  display: flex;
}

.icons-demo .icon {
  height: 100px;
  padding: 0.625rem;
  width: 100px;
}

.icons-demo pre {
  margin: 0;
  font-size: 0.8rem;
  text-align: center;
  background-color: var(--c-off-white);
}

.icons-demo__item {
  margin: 0.625rem;
  border: 1px solid var(--c-off-white);
}

.form__group--checkboxes,
.form__group--radios {
  margin-bottom: 1.5rem;
  width: 100%;
}

input[type="radio"],
input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  top: 0.3125rem;
  display: inline-block;
  margin: 0 0.625rem 0 0;
  padding: 0;
  border: 1px solid #d1d1d1;
  border-radius: 0;
  vertical-align: top;
  background: #fff;
  outline: none;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

input[type="radio"]:hover, input[type="radio"]:focus,
input[type="checkbox"]:hover,
input[type="checkbox"]:focus {
  cursor: pointer;
  outline: 0;
  border-color: #43cdff;
}

input[type="radio"]:disabled,
input[type="checkbox"]:disabled {
  opacity: .5;
  background: #fff;
}

input[type="radio"]:disabled:hover,
input[type="checkbox"]:disabled:hover {
  cursor: default;
  border-color: #303030;
}

input[type="radio"]:checked,
input[type="checkbox"]:checked {
  border-color: #43cdff;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
  position: relative;
  display: inline;
  font-weight: 400;
}

input[type="radio"] + label .form__label__not-required,
input[type="checkbox"] + label .form__label__not-required {
  display: none;
}

input[type="checkbox"] {
  background-color: #fff;
  width: 1rem;
  height: 1rem;
  transition: background-color ease-in-out 0.1s, border-color ease-in-out 0.1s;
}

input[type="checkbox"]::-ms-check {
  color: transparent;
}

input[type="checkbox"] + label::before {
  content: "\f00c";
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 0.9375rem;
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
  color: #10bfff;
}

input[type="checkbox"] + label::before {
  position: absolute;
  left: -1.625rem;
  top: 0.25rem;
  opacity: 0;
}

input[type="checkbox"]:checked + label::before {
  opacity: 1;
  transition: opacity ease-in-out 0.1s;
}

input[type="checkbox"]:disabled:checked + label::before {
  color: rgba(16, 191, 255, 0.5);
}

.form__element.form-type--checkbox,
.form__element.form-type--radio {
  position: relative;
  padding-left: 1.875rem;
  margin-bottom: 0.3125rem;
}

.form__element.form-type--checkbox input[type="checkbox"],
.form__element.form-type--checkbox input[type="radio"],
.form__element.form-type--radio input[type="checkbox"],
.form__element.form-type--radio input[type="radio"] {
  position: absolute;
  left: 0;
  top: 0.3125rem;
}

.main .form-actions button,
.main .form-actions input[type="submit"],
.main .form-actions [id*="edit-cancel"] {
  width: 100%;
  margin-top: 0.9375rem;
}

.main .form-actions button:first-child,
.main .form-actions input[type="submit"]:first-child,
.main .form-actions [id*="edit-cancel"]:first-child {
  margin-top: 0;
}

@media (min-width: 768px) {
  .main .form-actions button,
  .main .form-actions input[type="submit"],
  .main .form-actions [id*="edit-cancel"] {
    width: auto;
    margin-top: 0;
    margin-right: 0.9375rem;
  }
  .main .form-actions button:first-child,
  .main .form-actions input[type="submit"]:first-child,
  .main .form-actions [id*="edit-cancel"]:first-child {
    margin-top: 0;
  }
}

details {
  border: 1px solid #d1d1d1;
}

details summary {
  padding: 0.5rem 0.9375rem;
  color: #303030;
  background: #d1d1d1;
}

details summary:focus {
  outline: none;
}

details .details-wrapper {
  padding: 0.625rem 0.9375rem 0;
}

summary {
  cursor: pointer;
}

.details-description {
  margin-bottom: 1.5rem;
}

.details__error-message {
  margin-bottom: 1.5rem;
  color: #e74c3c;
}

legend {
  display: block;
  font-size: 1.5rem;
  line-height: 2.0625rem;
  font-weight: 700;
  white-space: normal;
  color: #303030;
}

fieldset,
.form-fieldset {
  margin: 0 0 1.5rem 0;
  padding: 0.625rem;
  border: 1px solid #d1d1d1;
}

fieldset legend,
.form-fieldset legend {
  display: table;
  box-sizing: border-box;
  padding: 0 0.625rem;
  max-width: 100%;
  width: auto;
}

.fieldset__error-message {
  margin-bottom: 1.5rem;
  color: #e74c3c;
}

.form__element {
  margin-bottom: 1.5rem;
  width: 100%;
}

.form__element::after {
  clear: both;
  content: "";
  display: table;
}

.form__element .field-suffix,
.form__element .admin-link {
  display: block;
}

.form__element .admin-link {
  margin-top: 0.625rem;
}

.form__element--prefix,
.form__element--suffix {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
}

.form__element--prefix .form__element__description,
.form__element--suffix .form__element__description {
  width: 100%;
}

.form__element__prefix {
  margin-right: 0.625rem;
}

.form__element__suffix {
  margin-left: 0.625rem;
}

form small,
form .description,
.form__element__description,
.password-suggestions,
.webform-component--mandatory-fields p,
.form__element ~ p {
  display: block;
  margin-top: 0.9375rem;
  color: rgba(112, 112, 112, 0.6);
  font-size: 0.6875rem;
  line-height: 0.9375rem;
}

form small ul,
form .description ul,
.form__element__description ul,
.password-suggestions ul,
.webform-component--mandatory-fields p ul,
.form__element ~ p ul {
  display: block;
  padding-left: 0;
  margin-left: 0;
  overflow: hidden;
  padding-left: 0;
}

form small ul > li,
form .description ul > li,
.form__element__description ul > li,
.password-suggestions ul > li,
.webform-component--mandatory-fields p ul > li,
.form__element ~ p ul > li {
  position: relative;
  display: block;
  margin-bottom: 0.375rem;
  list-style: none;
}

form small ul > li:last-child,
form .description ul > li:last-child,
.form__element__description ul > li:last-child,
.password-suggestions ul > li:last-child,
.webform-component--mandatory-fields p ul > li:last-child,
.form__element ~ p ul > li:last-child {
  margin-bottom: 0;
}

form small ul > li,
form .description ul > li,
.form__element__description ul > li,
.password-suggestions ul > li,
.webform-component--mandatory-fields p ul > li,
.form__element ~ p ul > li {
  padding-left: 1.1875rem;
}

form small ul > li::before,
form .description ul > li::before,
.form__element__description ul > li::before,
.password-suggestions ul > li::before,
.webform-component--mandatory-fields p ul > li::before,
.form__element ~ p ul > li::before {
  content: "";
  position: absolute;
  left: 1px;
  top: 0.75rem;
  display: block;
  margin-top: -1px;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  background: #10bfff;
}

form small ul > li ul li::before,
form .description ul > li ul li::before,
.form__element__description ul > li ul li::before,
.password-suggestions ul > li ul li::before,
.webform-component--mandatory-fields p ul > li ul li::before,
.form__element ~ p ul > li ul li::before {
  border: 1px solid #10bfff;
  border-radius: 50%;
  background: transparent;
}

form small ul > li ul li li::before,
form .description ul > li ul li li::before,
.form__element__description ul > li ul li li::before,
.password-suggestions ul > li ul li li::before,
.webform-component--mandatory-fields p ul > li ul li li::before,
.form__element ~ p ul > li ul li li::before {
  border: 0 none;
  border-radius: 0;
  background: #10bfff;
}

form small ul > li,
form .description ul > li,
.form__element__description ul > li,
.password-suggestions ul > li,
.webform-component--mandatory-fields p ul > li,
.form__element ~ p ul > li {
  margin-top: 0.375rem;
  padding-left: 0.75rem;
}

form small ul > li::before,
form .description ul > li::before,
.form__element__description ul > li::before,
.password-suggestions ul > li::before,
.webform-component--mandatory-fields p ul > li::before,
.form__element ~ p ul > li::before {
  top: 0.5rem;
  font-size: 4px;
}

.grecaptcha-badge {
  z-index: 910;
}

.form__label {
  display: block;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

.form__label.is-active {
  color: #10bfff;
}

.form__label__required {
  display: none;
}

.js-form-required .form__label__required {
  display: inline-block;
  text-decoration: none;
  color: #de0055;
}

.form__label__not-required {
  display: none;
}

.form__element--error .form__label {
  color: #e74c3c;
}

input:not([type]), input:not([type="range"]):not([type="radio"]):not([type="checkbox"]):not([type="image"]):not([type="button"]):not([type="reset"]):not([type="submit"]):not([type="hidden"]),
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0.5625rem 0.625rem;
  width: 100%;
  border: 1px solid #d1d1d1;
  border-radius: 0;
  color: #303030;
  background: #fff;
  outline: none;
  transition: all 0.3s ease-in-out;
}

input:not([type]):-ms-input-placeholder, input:not([type="range"]):not([type="radio"]):not([type="checkbox"]):not([type="image"]):not([type="button"]):not([type="reset"]):not([type="submit"]):not([type="hidden"]):-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #d1d1d1;
  opacity: 1;
}

input:not([type])::placeholder, input:not([type="range"]):not([type="radio"]):not([type="checkbox"]):not([type="image"]):not([type="button"]):not([type="reset"]):not([type="submit"]):not([type="hidden"])::placeholder,
textarea::placeholder {
  color: #d1d1d1;
  opacity: 1;
}

input:not([type]):focus, input:not([type]):focus:hover, input:not([type="range"]):not([type="radio"]):not([type="checkbox"]):not([type="image"]):not([type="button"]):not([type="reset"]):not([type="submit"]):not([type="hidden"]):focus, input:not([type="range"]):not([type="radio"]):not([type="checkbox"]):not([type="image"]):not([type="button"]):not([type="reset"]):not([type="submit"]):not([type="hidden"]):focus:hover,
textarea:focus,
textarea:focus:hover {
  border-color: #43cdff;
  outline: 0;
}

input:not([type])[disabled], input:not([type]):disabled, input:not([type="range"]):not([type="radio"]):not([type="checkbox"]):not([type="image"]):not([type="button"]):not([type="reset"]):not([type="submit"]):not([type="hidden"])[disabled], input:not([type="range"]):not([type="radio"]):not([type="checkbox"]):not([type="image"]):not([type="button"]):not([type="reset"]):not([type="submit"]):not([type="hidden"]):disabled,
textarea[disabled],
textarea:disabled {
  opacity: .5;
  border-color: #e5e5e5;
  color: #e5e5e5;
  background: #fff;
}

input:not([type]).error, input:not([type="range"]):not([type="radio"]):not([type="checkbox"]):not([type="image"]):not([type="button"]):not([type="reset"]):not([type="submit"]):not([type="hidden"]).error,
textarea.error {
  border-color: #e74c3c;
  color: #e74c3c;
}

input.error {
  color: #e74c3c;
}

input.admin-menu-search {
  height: auto;
}

input[type="radio"] {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #fff;
  box-shadow: none;
  transition: background-color ease-in-out 0.1s, border-color ease-in-out 0.1s, box-shadow ease-in-out 0.1s;
}

input[type="radio"]:checked {
  background: #10bfff;
  box-shadow: inset 0 0 0 3px #fff;
}

input[type="radio"]:disabled:checked {
  background: #e5e5e5;
  box-shadow: inset 0 0 0 3px #fff;
}

input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 0.3125rem;
  border: 1px solid #e6e6e6;
  border-radius: 0.3125rem;
  background-color: #e6e6e6;
}

input[type="range"]::-webkit-slider-thumb {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  width: 0.9375rem;
  height: 0.9375rem;
  border: 1px solid #d1d1d1;
  border-radius: 0.1875rem;
  background-color: #fff;
}

input[type="range"]:focus, input[type="range"]:focus:hover {
  outline: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  height: 2.75rem;
  width: 100%;
  padding: 0 2.5rem 0 0.625rem;
  border: 1px solid #d1d1d1;
  border-radius: 0;
  line-height: 2.625rem;
  color: #303030;
  background-color: #fff;
  background-image: linear-gradient(45deg, transparent 50%, #303030 50%), linear-gradient(135deg, #303030 50%, transparent 50%);
  background-position: calc(100% - 20px) 18px, calc(100% - 15px) 18px, calc(100% - 2.5em) 8px;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}

select::-ms-expand {
  display: none;
}

select:focus, select:focus:hover {
  border-color: #43cdff;
  color: #10bfff;
  outline: 0;
}

select:disabled, select[disabled] {
  border-color: #e5e5e5;
  border-style: dashed;
  color: #e5e5e5;
  background: #fff;
  opacity: .5;
}

.form__dropdown {
  position: relative;
}

.form__dropdown select {
  background-image: none;
}

.form__dropdown::after {
  content: "\f078";
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 0.875rem;
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
  color: #303030;
}

.form__dropdown::after {
  pointer-events: none;
  position: absolute;
  right: 10px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* stylelint-disable */
form .select2-container--default .select2-selection--multiple {
  min-height: 0;
  padding: 1.4375rem 1.25rem 0.375rem 1.25rem;
  border: 1px solid #d1d1d1;
  border-radius: 0;
  line-height: 0;
}

form .select2-container--default .select2-selection--multiple .select2-selection__rendered {
  margin-left: -0.3125rem;
}

form .select2-container--default .select2-selection--multiple .select2-selection__rendered li {
  margin-bottom: 0;
}

form .select2-container--default .select2-selection--multiple .select2-selection__rendered li.select2-selection__choice {
  line-height: 1.5;
}

form .select2-container--default .select2-selection--multiple input[type="search"] {
  margin: 0 !important;
  padding: 0 !important;
  border: 0 none !important;
}

form .select2-container--default.select2-container--focus .select2-selection--multiple {
  border-color: #43cdff;
}

form .select2-container--default.select2-container--disabled .select2-selection--multiple {
  border-color: #e5e5e5;
}

/* stylelint-enable */
textarea {
  resize: vertical;
  overflow: auto;
  min-height: 8.75rem;
}

.form-textarea-wrapper {
  display: block;
}

.form-textarea-wrapper .grippie {
  display: none;
}

.webform-document-file .button {
  margin-top: 0.625rem;
}

.form-managed-file {
  -ms-flex-align: center;
  align-items: center;
}

.form-managed-file button {
  margin-top: 0.625rem;
}

@media (min-width: 768px) {
  .webform-document-file {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .webform-document-file .description {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }
  .webform-document-file .button {
    margin-left: 0.625rem;
    margin-top: 0;
  }
  .file-upload-wrapper {
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: auto;
  }
  .form-managed-file {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .form-managed-file button {
    margin-top: 0;
    margin-left: 0.625rem;
  }
}

.button,
input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  display: inline-block;
  border: 0 none;
  border-radius: 0;
  text-align: center;
  text-decoration: none;
  background: #10bfff;
  background-repeat: no-repeat;
  outline: none;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

.button, .button:visited,
input[type="button"],
input[type="button"]:visited, input[type="reset"], input[type="reset"]:visited, input[type="submit"], input[type="submit"]:visited {
  color: #fff;
}

.button:hover, .button:active,
input[type="button"]:hover,
input[type="button"]:active, input[type="reset"]:hover, input[type="reset"]:active, input[type="submit"]:hover, input[type="submit"]:active {
  border: 0 none;
  color: #fff;
  background: #de0055;
  outline: none;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

.button:focus, .button:focus:hover,
input[type="button"]:focus,
input[type="button"]:focus:hover, input[type="reset"]:focus, input[type="reset"]:focus:hover, input[type="submit"]:focus, input[type="submit"]:focus:hover {
  outline: 0;
}

.button.disabled, .button:disabled, .button[disabled],
input[type="button"].disabled,
input[type="button"]:disabled,
input[type="button"][disabled], input[type="reset"].disabled, input[type="reset"]:disabled, input[type="reset"][disabled], input[type="submit"].disabled, input[type="submit"]:disabled, input[type="submit"][disabled] {
  pointer-events: none;
  cursor: default;
  opacity: .5;
}

.button--secondary {
  cursor: pointer;
  display: inline-block;
  border: 0 none;
  border-radius: 0;
  text-align: center;
  text-decoration: none;
  background: #fff;
  background-repeat: no-repeat;
  outline: none;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: inset 0 0 0 2px #10bfff;
}

.button--secondary, .button--secondary:visited {
  color: #10bfff;
}

.button--secondary:hover, .button--secondary:active {
  border: 0 none;
  color: #fff;
  background: #de0055;
  outline: none;
  box-shadow: inset 0 0 0 2px rgba(16, 191, 255, 0);
}

.button--secondary:focus, .button--secondary:focus:hover {
  outline: 0;
}

.button--secondary.disabled, .button--secondary:disabled, .button--secondary[disabled] {
  pointer-events: none;
  cursor: default;
  opacity: .5;
}

.button--negative {
  cursor: pointer;
  display: inline-block;
  border: 0 none;
  border-radius: 0;
  text-align: center;
  text-decoration: none;
  background: #fff;
  background-repeat: no-repeat;
  outline: none;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: inset 0 0 0 2px #fff;
}

.button--negative, .button--negative:visited {
  color: #10bfff;
}

.button--negative:hover, .button--negative:active {
  border: 0 none;
  color: #de0055;
  background: #fff;
  outline: none;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0);
}

.button--negative:focus, .button--negative:focus:hover {
  outline: 0;
}

.button--negative.disabled, .button--negative:disabled, .button--negative[disabled] {
  pointer-events: none;
  cursor: default;
  opacity: .5;
}

.actions .actions__divider {
  text-align: center;
}

@media (min-width: 768px) {
  .actions .actions__divider {
    text-align: left;
  }
}

.text-long .cke-button,
.cke_editable .cke-button {
  cursor: pointer;
  display: inline-block;
  border: 0 none;
  border-radius: 0;
  text-align: center;
  text-decoration: none;
  background: #10bfff;
  background-repeat: no-repeat;
  outline: none;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

.text-long .cke-button, .text-long .cke-button:visited,
.cke_editable .cke-button,
.cke_editable .cke-button:visited {
  color: #fff;
}

.text-long .cke-button:hover, .text-long .cke-button:active,
.cke_editable .cke-button:hover,
.cke_editable .cke-button:active {
  border: 0 none;
  color: #fff;
  background: #de0055;
  outline: none;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

.text-long .cke-button:focus, .text-long .cke-button:focus:hover,
.cke_editable .cke-button:focus,
.cke_editable .cke-button:focus:hover {
  outline: 0;
}

.text-long .cke-button.disabled, .text-long .cke-button:disabled, .text-long .cke-button[disabled],
.cke_editable .cke-button.disabled,
.cke_editable .cke-button:disabled,
.cke_editable .cke-button[disabled] {
  pointer-events: none;
  cursor: default;
  opacity: .5;
}

.text-long .cke-button--secondary,
.cke_editable .cke-button--secondary {
  cursor: pointer;
  display: inline-block;
  border: 0 none;
  border-radius: 0;
  text-align: center;
  text-decoration: none;
  background: #fff;
  background-repeat: no-repeat;
  outline: none;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: inset 0 0 0 2px #10bfff;
}

.text-long .cke-button--secondary, .text-long .cke-button--secondary:visited,
.cke_editable .cke-button--secondary,
.cke_editable .cke-button--secondary:visited {
  color: #10bfff;
}

.text-long .cke-button--secondary:hover, .text-long .cke-button--secondary:active,
.cke_editable .cke-button--secondary:hover,
.cke_editable .cke-button--secondary:active {
  border: 0 none;
  color: #fff;
  background: #de0055;
  outline: none;
  box-shadow: inset 0 0 0 2px rgba(16, 191, 255, 0);
}

.text-long .cke-button--secondary:focus, .text-long .cke-button--secondary:focus:hover,
.cke_editable .cke-button--secondary:focus,
.cke_editable .cke-button--secondary:focus:hover {
  outline: 0;
}

.text-long .cke-button--secondary.disabled, .text-long .cke-button--secondary:disabled, .text-long .cke-button--secondary[disabled],
.cke_editable .cke-button--secondary.disabled,
.cke_editable .cke-button--secondary:disabled,
.cke_editable .cke-button--secondary[disabled] {
  pointer-events: none;
  cursor: default;
  opacity: .5;
}

.text-long p .actions__divider,
.cke_editable p .actions__divider {
  margin-right: 0.625rem;
}

.text-long p .cke-button,
.cke_editable p .cke-button {
  margin-top: 0.625rem;
  margin-right: 0.625rem;
}

.text-long p .cke-button:last-child,
.cke_editable p .cke-button:last-child {
  margin-right: 0;
}

.text-long p .cke-button--secondary,
.cke_editable p .cke-button--secondary {
  margin-top: 0.625rem;
  margin-right: 0.625rem;
}

.text-long p .cke-button--secondary:last-child,
.cke_editable p .cke-button--secondary:last-child {
  margin-right: 0;
}

table {
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  text-align: left;
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  padding: 0.625rem;
  text-align: left;
  vertical-align: top;
}

td {
  padding: 0.625rem;
}

tbody td {
  padding: 0.625rem;
}

caption {
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
}

@media (max-width: 767px) {
  .table-responsive.is-reformatted {
    /* Force table to not be like tables anymore */
  }
  .table-responsive.is-reformatted caption {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #d1d1d1;
  }
  .table-responsive.is-reformatted table,
  .table-responsive.is-reformatted thead,
  .table-responsive.is-reformatted tbody,
  .table-responsive.is-reformatted th,
  .table-responsive.is-reformatted td,
  .table-responsive.is-reformatted tr {
    display: block;
  }
  .table-responsive.is-reformatted thead {
    border: 0 none;
    background: transparent;
  }
  .table-responsive.is-reformatted thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .table-responsive.is-reformatted tr {
    border: 0 none;
  }
  .table-responsive.is-reformatted tr.odd td {
    border-bottom: 1px solid #fff;
  }
  .table-responsive.is-reformatted td {
    /* Behave  like a "row" */
    position: relative;
    border: none;
    border-bottom: 1px solid #d1d1d1;
  }
  .table-responsive.is-reformatted td::before {
    content: attr(data-title) ": ";
    /* Now like a table header */
    /* Top/left values mimic padding */
    display: block;
    padding-right: 10px;
    white-space: nowrap;
    font-weight: bold;
  }
  .table-responsive.is-reformatted table.no-th td {
    position: static;
    width: auto;
  }
  .table-responsive.is-reformatted table.no-th td::before {
    display: none;
  }
}

@media (max-width: 767px) {
  .table-responsive.has-scroll {
    position: relative;
    margin-bottom: 2.5rem;
  }
  .table-responsive.has-scroll table {
    table-layout: auto;
    border-collapse: separate;
    border-spacing: 0;
    empty-cells: show;
    margin-bottom: 0;
    border: 0 none;
  }
  .table-responsive.has-scroll.js-table--no-th {
    -ms-overflow-style: -ms-autohiding-scrollbar;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    min-height: .01%;
  }
  .table-responsive.has-scroll.js-table--th-row {
    overflow: hidden;
  }
  .table-responsive.has-scroll.js-table--th-row table {
    position: relative;
    width: 100%;
    padding: 0;
  }
  .table-responsive.has-scroll.js-table--th-row thead {
    position: absolute;
    top: 0;
    display: block;
    height: 100%;
    width: 7.5rem;
  }
  .table-responsive.has-scroll.js-table--th-row thead tr {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .table-responsive.has-scroll.js-table--th-row thead tr:last-child {
    border-bottom: 0 none;
  }
  .table-responsive.has-scroll.js-table--th-row thead th,
  .table-responsive.has-scroll.js-table--th-row thead td {
    display: block;
    overflow: hidden;
    min-height: 6.25rem;
    text-overflow: ellipsis;
    word-wrap: normal;
  }
  .table-responsive.has-scroll.js-table--th-row tbody {
    display: -ms-flexbox;
    display: flex;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    overflow-x: auto;
    overflow-y: hidden;
    width: calc(100vw - 120px - 40px);
  }
  .table-responsive.has-scroll.js-table--th-row tbody tr {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .table-responsive.has-scroll.js-table--th-row tbody th,
  .table-responsive.has-scroll.js-table--th-row tbody td {
    display: block;
    min-height: 6.25rem;
  }
  .table-responsive.has-scroll.js-table--th-top thead {
    left: 0;
  }
  .table-responsive.has-scroll.js-table--th-top tbody {
    margin-left: 7.5rem;
  }
  .table-responsive.has-scroll.js-table--th-bottom thead {
    right: 0;
  }
  .table-responsive.has-scroll.js-table--th-bottom tbody {
    margin-right: 7.5rem;
  }
  .table-responsive.has-scroll.js-table--th-col table {
    display: block;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0;
    width: 100%;
  }
  .table-responsive.has-scroll.js-table--th-col tbody {
    position: static;
  }
  .table-responsive.has-scroll.js-table--th-col tr {
    position: static;
  }
  .table-responsive.has-scroll.js-table--th-col tr:last-child .th__content {
    border-bottom: 0 none;
  }
  .table-responsive.has-scroll.js-table--th-col th {
    padding: 0;
    width: 0;
    border: 0;
    background: transparent none;
  }
  .table-responsive.has-scroll.js-table--th-col .th__content {
    position: absolute;
    width: 7.5rem;
    padding: 0.625rem;
  }
  .table-responsive.has-scroll.js-table--th-left {
    padding-left: 7.5rem;
  }
  .table-responsive.has-scroll.js-table--th-left .th__content {
    left: 0;
  }
  .table-responsive.has-scroll.js-table--th-right {
    padding-right: 7.5rem;
  }
  .table-responsive.has-scroll.js-table--th-right .th__content {
    right: 0;
  }
}

.text-long table {
  margin-bottom: 1.5rem;
}

.text-long table.no-margin {
  margin-bottom: 0;
}

.tabs__link {
  display: block;
  padding: 0.625rem 0.9375rem;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  font-size: 0.875rem;
  line-height: 1.125rem;
  background-color: #e5e5e5;
}

.tabs__link, .tabs__link:visited {
  color: #fff;
  background-color: #e5e5e5;
}

.tabs__link:hover {
  color: #fff;
  background-color: #de0055;
}

.tabs__link.is-active {
  color: #fff;
  background-color: #de0055;
}

@media (min-width: 768px) {
  .tabs li {
    display: inline-block;
  }
  .tabs__link {
    display: inline-block;
    border-top: 0 none;
  }
  .tabs__link.is-active {
    color: #de0055;
    background-color: #fff;
  }
}

.ajax-progress-throbber {
  position: relative;
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
}

.ajax-progress-throbber .throbber {
  display: block;
  width: 0.9375rem;
  height: 0.9375rem;
  border: 3px solid rgba(16, 191, 255, 0.2);
  border-top-color: #10bfff;
  border-radius: 100%;
  background-image: none;
  animation: spin 1s infinite linear;
  pointer-events: none;
}

button + .ajax-progress-throbber {
  margin-left: 0.625rem;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

div.krumo-root {
  color: #000;
}

div.krumo-root * {
  float: none;
}

div.krumo-root a.krumo-name {
  color: #404000;
}

body .block-place-region {
  padding: 0;
  margin: 0.3125rem;
}

body .block-place-region a.button {
  display: block;
  padding: 1.25rem;
  width: auto;
  border: 0 none;
  background-color: #fff;
}

body .block-place-region a.button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.quickedit-field.quickedit-highlighted,
.quickedit-form.quickedit-highlighted,
.quickedit-field .quickedit-highlighted {
  box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
}

.quickedit-form {
  max-width: 18.75rem;
}

.quickedit-form.quickedit-highlighted {
  margin: 0.3125rem 0;
}

.quickedit-form .messages {
  margin-bottom: 0.625rem;
}

.quickedit-form .messages abbr.warning {
  color: #fff;
}

.quickedit-form abbr.warning {
  color: #e74c3c;
}

.quickedit-form .table {
  table-layout: auto;
}

.quickedit-form .table th h4 {
  margin: 0;
}

.quickedit-form .table td {
  padding: 0.625rem;
}

.quickedit-form .link, .quickedit-form .link:visited {
  color: #de0055;
}

.quickedit-form .tabledrag-toggle-weight-wrapper {
  margin-bottom: 1.5rem;
  text-align: right;
}

.quickedit-form .field-multiple-drag {
  padding: 0.625rem;
}

.quickedit-form .tabledrag-handle .handle::before {
  content: "\f0b2";
  display: inline-block;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 1rem;
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
  color: #303030;
}

.quickedit-form .form__element {
  margin-bottom: 1.5rem;
}

.quickedit-form select {
  min-width: 5rem;
}

.quickedit-form [id*="-view-mode"],
.quickedit-form [id*="-layout"],
.quickedit-form [id*="-field-p-bg-color"] {
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.quickedit-form [id*="-view-mode"] .form-type--radio,
.quickedit-form [id*="-layout"] .form-type--radio,
.quickedit-form [id*="-field-p-bg-color"] .form-type--radio {
  padding: 0 0.625rem;
  width: auto;
}

.quickedit-form .form-submit {
  cursor: pointer;
  display: inline-block;
  border: 0 none;
  border-radius: 0;
  text-align: center;
  text-decoration: none;
  background: #10bfff;
  background-repeat: no-repeat;
  outline: none;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  margin-top: 1.5rem;
}

.quickedit-form .form-submit, .quickedit-form .form-submit:visited {
  color: #fff;
}

.quickedit-form .form-submit:hover, .quickedit-form .form-submit:active {
  border: 0 none;
  color: #fff;
  background: #de0055;
  outline: none;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

.quickedit-form .form-submit:focus, .quickedit-form .form-submit:focus:hover {
  outline: 0;
}

.quickedit-form .form-submit.disabled, .quickedit-form .form-submit:disabled, .quickedit-form .form-submit[disabled] {
  pointer-events: none;
  cursor: default;
  opacity: .5;
}

.quickedit-form .dropbutton-widget button,
.quickedit-form .dropbutton-widget .button,
.quickedit-form .dropbutton-widget .dropbutton-toggle button {
  padding: 0 !important;
  margin: 0 !important;
  color: #de0055 !important;
  background: none !important;
  box-shadow: none !important;
}

.quickedit-form .dropbutton-widget button::before, .quickedit-form .dropbutton-widget button::after,
.quickedit-form .dropbutton-widget .button::before,
.quickedit-form .dropbutton-widget .button::after,
.quickedit-form .dropbutton-widget .dropbutton-toggle button::before,
.quickedit-form .dropbutton-widget .dropbutton-toggle button::after {
  display: none !important;
}

.quickedit-form .dropbutton li {
  margin: 0;
  padding: 0.3125rem;
}

.ui-dialog-titlebar {
  padding: 0.3125rem;
}

.ui-dialog-content {
  padding: 0.3125rem;
}

.ui-dialog-buttonset {
  padding: 0.3125rem;
}

.ui-dialog-buttonset .button {
  padding: 0.5625rem 0.875rem 0.5625rem 0.875rem;
  font-size: 0.75rem;
  line-height: 0.875rem;
}

@media (min-width: 480px) {
  .quickedit-form {
    max-width: 26.25rem;
  }
}

@media (min-width: 768px) {
  .quickedit-form {
    max-width: 37.5rem;
  }
}

.toolbar-fixed .toolbar-bar {
  z-index: 990;
}

.toolbar-horizontal.toolbar-fixed {
  padding-top: 4.9375rem !important;
}

.toolbar-tray a, .toolbar-tray a:visited {
  color: #565656;
}

.block__branding__image--header {
  position: relative;
  display: block;
}

.block__branding__image--header img {
  transition: all 0.3s ease-in-out;
}

.cookie-policy {
  position: fixed;
  bottom: -12.5rem;
  left: 0;
  right: 0;
  z-index: 1010;
  padding: 0.9375rem 0;
  transition: all 0.3s ease-in-out;
}

.cookiePolicy-is-visible .cookie-policy {
  bottom: 0;
}

.sb-show-main .cookie-policy {
  bottom: auto;
  top: 0;
}

.cookie-policy__message span {
  display: block;
}

.cookie-policy__message a {
  position: relative;
}

@media (min-width: 768px) {
  .cookie-policy .container {
    display: -ms-flexbox;
    display: flex;
  }
  .cookie-policy__message {
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
}

.nav__item--language {
  display: inline;
}

.nav--language--dropdown {
  display: none;
  text-align: right;
}

.nav--language--dropdown.js-active {
  display: block;
}

.nav--language--dropdown > h2 {
  position: absolute !important;
  display: block !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  overflow: hidden !important;
  height: 0.0625rem !important;
  width: 0.0625rem !important;
  word-wrap: normal !important;
}

.nav--language--dropdown > h2.focusable:focus {
  position: fixed !important;
  left: 0 !important;
  top: 0 !important;
  z-index: 10010 !important;
  display: block !important;
  clip: auto !important;
  overflow: visible !important;
  height: auto !important;
  width: auto !important;
  background: #fff;
}

.nav__active--language--dropdown {
  cursor: pointer;
  position: relative;
  padding: 0.3125rem 1rem 0.3125rem 0;
}

.nav__active--language--dropdown::before {
  position: absolute;
  right: 0;
  top: 50%;
  content: "\f078";
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 0.625rem;
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
}

.nav__active--language--dropdown::before {
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.nav__items--language--dropdown {
  position: absolute;
  right: 0;
  top: 100%;
  background: #fff;
  transition: all 0.3s ease-in-out;
}

.js-open > .nav__items--language--dropdown {
  box-shadow: 0 0 0.9375rem rgba(0, 0, 0, 0.2);
}

.nav__item--language--dropdown {
  display: block;
  overflow: hidden;
  max-height: 0;
  transition: all 0.3s ease-in-out;
}

.js-open > ul > .nav__item--language--dropdown {
  max-height: 6.25rem;
}

.nav__item--language--dropdown a {
  display: block;
  padding: 0.3125rem 0.625rem;
  border-bottom: 1px solid #d1d1d1;
}

.nav__item--language--dropdown a::after {
  display: none;
  content: "";
}

.nav__item--language--dropdown:last-child > a {
  border-bottom: 0 none;
}

@media (min-width: 768px) {
  .nav--language--dropdown {
    position: relative;
    z-index: 6;
  }
}

.menu__item--with-sub {
  position: relative;
}

.menu__item--with-sub .expand-sub {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  -ms-transform: rotate(0);
  transform: rotate(0);
  transition: all ease-in-out 0.3s;
}

.menu__item--with-sub .expand-sub::before {
  content: "\f078";
  display: inline-block;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 0.625rem;
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
}

.menu__item--with-sub .expand-sub::before {
  position: absolute;
  left: 50%;
  top: 50%;
  font-style: normal;
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.menu__item--with-sub.js-open > .menu__item--sub {
  max-height: 6.25rem;
  transition: all .25s ease-in;
}

.menu__item--with-sub.js-open .expand-sub {
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.menu__item--with-sub > .menu__item--sub {
  overflow: hidden;
  max-height: 0;
  transition: all .25s ease-out;
}

.menu__item--sub {
  overflow: hidden;
  max-height: 0;
  transition: all .25s ease-out;
}

.menu__item.js-open .menu__item--sub {
  max-height: 6.25rem;
  transition: all .25s ease-in;
}

@media (max-width: 767px) {
  .wrapper--navigation__content .menu__link {
    cursor: pointer;
    display: block;
    padding: 0.5625rem 3.75rem;
  }
  .wrapper--navigation__content .js-open > .menu--sub {
    background-color: #f3f3f3;
  }
  .wrapper--navigation__content .menu__link--sub {
    padding-left: 5.625rem;
  }
}

@media (min-width: 768px) {
  .navigation__toggle-expand {
    display: none;
  }
  .wrapper--navigation__content .menu__item--with-sub {
    padding-right: 1.875rem;
  }
  .wrapper--navigation__content .menu__item--with-sub .expand-sub {
    width: 1.5rem;
    height: 1.5rem;
  }
  .wrapper--navigation__content .menu--sub {
    position: absolute;
    top: 100%;
    left: 0;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0;
    min-width: 9.375rem;
  }
  .wrapper--navigation__content .menu__item--sub {
    margin: 0;
  }
}

.tabs {
  background-color: #545454;
}

.tabs__nav {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 0;
  text-align: right;
}

.tabs__tab {
  display: none;
}

.tabs__tab.is-active {
  display: inline-block;
}

.tabs__content {
  padding: 0.9375rem;
}

.tabs.no-js .tabs__tab.is-active {
  display: block;
}

@media (min-width: 768px) {
  .tabs__nav {
    padding: 0.9375rem 0.9375rem 0 0.9375rem;
  }
}

@media (max-width: 767px) {
  .block--region-header-top.block--search-redirect-block h2 {
    cursor: pointer;
    position: relative;
    display: block;
    height: 3.75rem;
    width: 3.75rem;
    margin: 0;
    padding-top: 2.125rem;
    text-align: center;
    transition: all 0.3s ease-in-out;
  }
  .block--region-header-top.block--search-redirect-block h2::before {
    content: "\f002";
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    vertical-align: middle;
    font-size: 1.5rem;
    font-family: "Font Awesome 5 Free", sans-serif;
    font-weight: 900;
  }
  .block--region-header-top.block--search-redirect-block h2::after {
    content: "\f00d";
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    vertical-align: middle;
    font-size: 1.5rem;
    font-family: "Font Awesome 5 Free", sans-serif;
    font-weight: 900;
  }
  .block--region-header-top.block--search-redirect-block h2::before, .block--region-header-top.block--search-redirect-block h2::after {
    position: absolute;
    left: 50%;
    top: 0;
    display: block;
    padding-top: 0.625rem;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    transition: opacity 0.3s ease-in-out;
  }
  .block--region-header-top.block--search-redirect-block h2::before {
    opacity: 1;
  }
  .block--region-header-top.block--search-redirect-block h2::after {
    opacity: 0;
  }
  .block--region-header-top.block--search-redirect-block h2:hover {
    color: #de0055;
  }
  .block--region-header-top.block--search-redirect-block.js-open h2::before {
    opacity: 0;
  }
  .block--region-header-top.block--search-redirect-block.js-open h2::after {
    opacity: 1;
  }
  .block--region-header-top.block--search-redirect-block form {
    position: fixed;
    left: 0;
    bottom: 3.75rem;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100vw;
    height: 0;
    transition: all 0.3s ease-in-out;
  }
  .block--region-header-top.block--search-redirect-block .form-actions {
    text-align: center;
  }
  .block--region-header-top.block--search-redirect-block.js-open form {
    height: calc(100vh - 3.75rem);
  }
}

@media (min-width: 768px) {
  .block--region-header-top.block--search-redirect-block h2 {
    position: absolute !important;
    display: block !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    overflow: hidden !important;
    height: 0.0625rem !important;
    width: 0.0625rem !important;
    word-wrap: normal !important;
  }
  .block--region-header-top.block--search-redirect-block h2.focusable:focus {
    position: fixed !important;
    left: 0 !important;
    top: 0 !important;
    z-index: 10010 !important;
    display: block !important;
    clip: auto !important;
    overflow: visible !important;
    height: auto !important;
    width: auto !important;
    background: #fff;
  }
  .block--region-header-top.block--search-redirect-block form {
    display: -ms-flexbox;
    display: flex;
    max-width: 15.625rem;
  }
}

.main form.search-form {
  position: relative;
}

.social-link a::before {
  content: "\f14d";
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 2rem;
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 400;
  color: #303030;
}

.social-link a:hover::before {
  color: #de0055;
}

.social-link .facebook::before {
  content: "\f39e";
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 1.375rem;
  font-family: "Font Awesome 5 Brands", sans-serif;
  font-weight: normal;
}

.social-link .twitter::before {
  content: "\f099";
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 1.625rem;
  font-family: "Font Awesome 5 Brands", sans-serif;
  font-weight: normal;
}

.social-link .pinterest::before {
  content: "\f0d2";
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 1.75rem;
  font-family: "Font Awesome 5 Brands", sans-serif;
  font-weight: normal;
}

.social-link .linkedin::before {
  content: "\f08c";
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 1.75rem;
  font-family: "Font Awesome 5 Brands", sans-serif;
  font-weight: normal;
}

.social-link .print::before {
  content: "\f02f";
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 1.375rem;
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
}

.social-link .e_mail::before {
  content: "\f0e0";
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 1.75rem;
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
}

.messages--wrapper {
  position: relative;
  clear: both;
}

body.toolbar-fixed .messages--wrapper {
  position: relative;
  z-index: 900;
}

.messages {
  position: relative;
  clear: both;
  margin-top: 1.5rem;
  padding: 0.9375rem 1.875rem 0.9375rem 3.75rem;
  border-radius: 0.1875rem;
  color: #fff;
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  transition: transform 0.5s ease-in-out;
  opacity: 1;
}

.messages::before {
  position: absolute;
  top: 0.75rem;
  bottom: 0;
  left: 0.9375rem;
  width: 1.875rem;
  height: 1.875rem;
  text-align: center;
  line-height: 1;
}

.messages:first-child {
  margin-top: 1.5rem;
}

.messages:last-child {
  margin-bottom: 1.5rem;
}

.messages.js-closing {
  opacity: 0;
  -ms-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
  transition: all 0.5s ease-in-out;
}

@media (min-width: 940px) {
  .messages.js-closing {
    -ms-transform: translate(0, -100%);
    transform: translate(0, -100%);
  }
}

.messages.js-closed {
  display: none;
}

.messages--status {
  border: 1px solid #00b16a;
  background-color: #3fc380;
}

.messages--status::before {
  content: "\f058";
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 1.875rem;
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
  color: #fff;
}

.messages--status a {
  color: #007e4b;
}

.messages--status a:hover {
  color: #00b16a;
}

.messages--warning {
  border: 1px solid #f2784b;
  background-color: #eb9532;
}

.messages--warning::before {
  content: "\f071";
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 1.875rem;
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
  color: #fff;
}

.messages--warning a {
  color: #ef541b;
}

.messages--warning a:hover {
  color: #f2784b;
}

.messages--error {
  border: 1px solid #c0392b;
  background-color: #e74c3c;
}

.messages--error::before {
  content: "\f06a";
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 1.875rem;
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
  color: #fff;
}

.messages--error a {
  color: #962d22;
}

.messages--error a:hover {
  color: #c0392b;
}

.message__close {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  color: #fff;
  outline: none;
}

.message__close:hover {
  opacity: 0.6;
}

.message__close .icon {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  padding-top: 0.4375rem;
  text-align: center;
}

.message__close .icon::before {
  content: "\f00d";
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 1rem;
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
  color: #fff;
}

.message__close span {
  position: absolute !important;
  display: block !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  overflow: hidden !important;
  height: 0.0625rem !important;
  width: 0.0625rem !important;
  word-wrap: normal !important;
}

.message__close span.focusable:focus {
  position: fixed !important;
  left: 0 !important;
  top: 0 !important;
  z-index: 10010 !important;
  display: block !important;
  clip: auto !important;
  overflow: visible !important;
  height: auto !important;
  width: auto !important;
  background: #fff;
}

.messages__list {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.messages__item + .messages__item {
  margin-top: 0.625rem;
}

.user-box__middle .paragraph--type-simple-header::before {
  display: none !important;
}

.password-strength__meter {
  margin-top: 0.625rem;
  background: #f3f3f3;
}

.password-strength__indicator {
  background-color: #f3f3f3;
  transition: width 0.3s ease-in-out;
}

.password-strength__indicator.is-weak {
  background-color: #e74c3c;
}

.password-strength__indicator.is-fair {
  background-color: #eb9532;
}

.password-strength__indicator.is-good {
  background-color: #0074bd;
}

.password-strength__indicator.is-strong {
  background-color: #3fc380;
}

.confirm-parent .password-confirm .ok {
  color: #3fc380;
}

.confirm-parent .password-confirm .error {
  color: #e74c3c;
}

body,
html {
  height: 100%;
}

.flexboxtweener,
.flexboxtweener .page {
  height: 100%;
}

.page-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

.page {
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.sticky-top,
.doormat,
.footer--primary {
  -ms-flex-negative: 1;
  flex-shrink: 1;
}

.sticky-top {
  min-height: 1px;
}

.header--primary {
  position: relative;
}

.layout__top,
.layout__header,
.layout__bottom,
.layout__footer {
  clear: both;
}

.storybook__content-section {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  min-height: 500px;
  color: #39596a;
}

.storybook__content-section::before {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  width: 100vw;
  height: 100%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  content: '';
}

.storybook__content-section .text {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 1;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #c3d5df;
}

.storybook__content-section.has--bg::before {
  background-color: #c3d5df;
}

.storybook__content-section.has--bg .text {
  background-color: rgba(255, 255, 255, 0.5);
}

.storybook__content-section--page {
  min-height: 900px;
}
