/**
 * Square mixin
 *
 * @param [Number] $dimensions = the height and width of the element
 */
/* stylelint-disable */
/* stylelint-enable */
.icon--icon-usp:before {
  display: inline-block;
  height: 3.785em;
  width: 4.16em;
  font-size: 0.39062rem;
  background-image: url("../images/generated/sprite.svg");
  background-position: 0em 0em;
  background-size: 11.5em 11.125em;
  content: "";
}

.icon--test:before {
  display: inline-block;
  height: 6.5em;
  width: 6.5em;
  font-size: 0.25rem;
  background-image: url("../images/generated/sprite.svg");
  background-position: -4.625em -4.25em;
  background-size: 11.5em 11.125em;
  content: "";
}

/*!
 * Font Awesome Pro 5.15.2 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license (Commercial License)
 */
body::after {
  content: "bp-xs";
  position: fixed;
  bottom: 0;
  right: 0;
  display: block;
  padding: 0.625rem;
  background: red;
  visibility: hidden;
  opacity: 0;
}

body.theme-debug-mode::after {
  visibility: visible;
}

@media (min-width: 768px) {
  body::after {
    content: "bp-sm";
    position: fixed;
    bottom: 0;
    right: 0;
    background: #ffce00;
  }
}

@media (min-width: 940px) {
  body::after {
    content: "bp-md";
    position: fixed;
    bottom: 0;
    right: 0;
    background: yellow;
  }
}

@media (min-width: 1200px) {
  body::after {
    content: "bp-lg";
    position: fixed;
    bottom: 0;
    right: 0;
    background: green;
  }
}

/* stylelint-disable */
/* stylelint-enable */
.paragraph {
  position: relative;
}

.paragraph .field__items {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.paragraph .field__item {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.paragraph .field .text-align-centered {
  text-align: center;
}

.paragraph .field .text-align-right {
  text-align: right;
}

.paragraph .field .text-align-justify {
  text-align: justify;
}

.paragraph .field--type-text-long > p:last-child,
.paragraph .field--type-text-long > ul:last-child,
.paragraph .field--type-text-long > ol:last-child,
.paragraph .text-long > p:last-child,
.paragraph .text-long > ul:last-child,
.paragraph .text-long > ol:last-child {
  margin-bottom: 0;
}

.paragraph .field--name-field-p-bg-image,
.paragraph .field--name-field-p-media-bg-image {
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  opacity: .5;
}

.paragraph .field--name-field-p-bg-image .media,
.paragraph .field--name-field-p-media-bg-image .media {
  position: static;
}

.paragraph .field--name-field-p-bg-image img,
.paragraph .field--name-field-p-media-bg-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: auto;
  max-width: none;
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  object-fit: cover;
}

.paragraph.has-bg-stretched .field--name-field-p-bg-image,
.paragraph.has-bg-stretched .field--name-field-p-media-bg-image {
  left: 50%;
  width: 100vw;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.paragraph .info-wrapper {
  position: relative;
  z-index: 1;
}

.paragraph.has-bg-stretched::before {
  margin-left: calc((-100vw + 100%) / 2);
  width: 100vw;
}

.paragraph.has-content-bg > .p-content {
  color: #303030;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 2.5rem;
}

.paragraph.has-content-bg > .p-content a, .paragraph.has-content-bg > .p-content a:visited, .paragraph.has-content-bg > .p-content a:hover, .paragraph.has-content-bg > .p-content a:active {
  color: #de0055;
}

.paragraph.has-content-bg > .p-content .text-long a:not(.button):not(.cke-button):not(.cke-button--secondary) {
  position: relative;
  display: inline;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.paragraph.has-content-bg > .p-content .text-long a:not(.button):not(.cke-button):not(.cke-button--secondary), .paragraph.has-content-bg > .p-content .text-long a:not(.button):not(.cke-button):not(.cke-button--secondary):visited {
  color: #de0055;
  border-bottom: 1px solid #de0055;
}

.paragraph.has-content-bg > .p-content .text-long a:not(.button):not(.cke-button):not(.cke-button--secondary):hover {
  color: #10bfff;
  border-bottom: 1px solid rgba(222, 0, 85, 0);
}

.paragraph.has-content-bg > .p-content .text-long a:not(.button):not(.cke-button):not(.cke-button--secondary):active {
  color: #10bfff;
  border-bottom: 1px solid rgba(222, 0, 85, 0);
}

.paragraph.has-content-bg > .p-content .field--name-field-blog-tags,
.paragraph.has-content-bg > .p-content .field--name-node-title,
.paragraph.has-content-bg > .p-content .field--name-node-link,
.paragraph.has-content-bg > .p-content .field--name-field-p-link {
  color: #303030;
}

.paragraph.has-content-bg > .p-content .field--name-field-blog-tags a, .paragraph.has-content-bg > .p-content .field--name-field-blog-tags a:visited, .paragraph.has-content-bg > .p-content .field--name-field-blog-tags a:hover, .paragraph.has-content-bg > .p-content .field--name-field-blog-tags a:active,
.paragraph.has-content-bg > .p-content .field--name-node-title a,
.paragraph.has-content-bg > .p-content .field--name-node-title a:visited,
.paragraph.has-content-bg > .p-content .field--name-node-title a:hover,
.paragraph.has-content-bg > .p-content .field--name-node-title a:active,
.paragraph.has-content-bg > .p-content .field--name-node-link a,
.paragraph.has-content-bg > .p-content .field--name-node-link a:visited,
.paragraph.has-content-bg > .p-content .field--name-node-link a:hover,
.paragraph.has-content-bg > .p-content .field--name-node-link a:active,
.paragraph.has-content-bg > .p-content .field--name-field-p-link a,
.paragraph.has-content-bg > .p-content .field--name-field-p-link a:visited,
.paragraph.has-content-bg > .p-content .field--name-field-p-link a:hover,
.paragraph.has-content-bg > .p-content .field--name-field-p-link a:active {
  color: #de0055;
}

.group--paragraphs__item::after {
  clear: both;
  content: "";
  display: table;
}

.group--paragraphs__item,
.group--paragraphs__item * {
  box-sizing: border-box;
}

.group--paragraphs__item .paragraph {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}

.group--paragraphs__item .paragraph.has-bg-stretched {
  padding-left: 0;
  padding-right: 0;
}

.group--paragraphs__item.has-matching-bg + .group--paragraphs__item.has-matching-bg-last .paragraph {
  padding-top: 0;
}

.paragraph--type-overview .more-link--overview {
  margin-top: 1.5rem;
  text-align: right;
}

.paragraph--type-p-001 .paragraph__sidebar {
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .paragraph--type-p-001.p--layout--image_normal .paragraph__cols {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    min-height: 1px;
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 0;
  }
  .paragraph--type-p-001.p--layout--image_normal .paragraph__sidebar {
    position: relative;
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
    min-height: 1px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: calc(50% - 1.875rem);
    margin-top: 0;
    margin-bottom: 0;
  }
  .paragraph--type-p-001.p--layout--image_normal .paragraph__content {
    position: relative;
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
    min-height: 1px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: calc(50% - 1.875rem);
    margin-top: 0;
  }
  .paragraph--type-p-001.p--layout--image_normal.p-001--view-mode--right .paragraph__cols, .paragraph--type-p-001.p--layout--image_normal.p-001--view-mode--image_right .paragraph__cols {
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  .group--paragraphs__item.has-matching-bg + .group--paragraphs__item.has-matching-bg .paragraph--type-p-001.p--layout--image_stretched {
    padding-top: 1.5rem;
  }
  .paragraph--type-p-001.p--layout--image_stretched .paragraph__cols {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    min-height: 1px;
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
    position: static;
    overflow: visible;
    margin: 0;
    padding-left: calc(50% + 1.875rem);
  }
  .paragraph--type-p-001.p--layout--image_stretched .paragraph__sidebar {
    position: relative;
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
    min-height: 1px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: calc(50% - 1.875rem);
    position: absolute;
    left: 50%;
    top: 0;
    flex-basis: auto;
    overflow: hidden;
    height: 100%;
    width: calc(50vw);
    margin: 0;
    -ms-transform: translateX(-50vw);
    transform: translateX(-50vw);
  }
  .paragraph--type-p-001.p--layout--image_stretched .paragraph__sidebar img {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: auto;
    min-width: 50vw;
    max-width: none;
    object-fit: cover;
  }
  .paragraph--type-p-001.p--layout--image_stretched .media,
  .paragraph--type-p-001.p--layout--image_stretched .video-embed-field-responsive-video {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }
  .paragraph--type-p-001.p--layout--image_stretched .paragraph__content {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    width: 100%;
    margin: 0;
  }
  .paragraph--type-p-001.p--layout--image_stretched.p-001--view-mode--right .paragraph__cols, .paragraph--type-p-001.p--layout--image_stretched.p-001--view-mode--image_right .paragraph__cols {
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    padding-right: calc(50% + 1.875rem);
  }
  .paragraph--type-p-001.p--layout--image_stretched.p-001--view-mode--right .paragraph__sidebar, .paragraph--type-p-001.p--layout--image_stretched.p-001--view-mode--image_right .paragraph__sidebar {
    -ms-transform: none;
    transform: none;
  }
  .paragraph--type-p-001.p--layout--image_stretched.p-001--view-mode--right .paragraph__sidebar img, .paragraph--type-p-001.p--layout--image_stretched.p-001--view-mode--image_right .paragraph__sidebar img {
    right: auto;
    left: 0;
  }
}

@media (min-width: 940px) {
  .paragraph--type-p-001.p--layout--image_normal .paragraph__sidebar {
    position: relative;
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
    min-height: 1px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: calc(41.66667% - 1.875rem);
    margin-top: 0;
  }
  .paragraph--type-p-001.p--layout--image_normal .paragraph__content {
    position: relative;
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
    min-height: 1px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: calc(58.33333% - 1.875rem);
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .paragraph--type-p-001.p--layout--image_normal .paragraph__sidebar {
    position: relative;
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
    min-height: 1px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: calc(41.66667% - 1.875rem);
    margin-top: 0;
  }
  .paragraph--type-p-001.p--layout--image_normal .paragraph__content {
    position: relative;
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
    min-height: 1px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: calc(58.33333% - 1.875rem);
    margin-top: 0;
  }
}

.paragraph--type-p-002 {
  position: relative;
}

.paragraph--type-p-002 a {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -9999px;
}

.paragraph--type-p-002 a, .paragraph--type-p-002 a:visited, .paragraph--type-p-002 a:hover, .paragraph--type-p-002 a:active {
  border: 0 none;
  text-decoration: none;
}

.paragraph--type-p-002 img {
  display: block;
}

.paragraph--type-p-002.p--layout--image_stretched {
  padding-top: 0;
  padding-bottom: 0;
}

.paragraph--type-p-002.p--layout--image_stretched a {
  left: 50%;
  width: 100vw;
  -ms-transform: translateX(-50vw);
  transform: translateX(-50vw);
}

.paragraph--type-p-002.p--layout--image_stretched img {
  position: relative;
  left: 50%;
  width: 100vw;
  max-width: none;
  -ms-transform: translateX(-50vw);
  transform: translateX(-50vw);
  object-fit: cover;
}

.p-003--view-mode--centered {
  text-align: center;
}

.p-003--view-mode--centered > * {
  margin-left: auto;
  margin-right: auto;
}

.p-003--view-mode--centered .text-long {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
}

.p-003--view-mode--centered .text-long ul,
.p-003--view-mode--centered .text-long ol {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: start;
  align-items: flex-start;
}

.paragraph--type-p-004 .field + .field--type-tabbed-item {
  margin-top: 2.1875rem;
}

.field__item--type-tabbed-item .tab-item__title {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding: 1.5rem 1.5625rem 1.5rem 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.field__item--type-tabbed-item .tab-item__title::before {
  content: "\f078";
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 1rem;
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
  color: #303030;
}

.field__item--type-tabbed-item .tab-item__title::before {
  position: absolute;
  right: 0;
  top: 0.375rem;
  transition: all 0.3s ease-in-out;
}

.field__item--type-tabbed-item .tab-item__content {
  padding-bottom: 1.5rem;
  display: none;
}

.field__item--type-tabbed-item .tab-item__content p:last-child,
.field__item--type-tabbed-item .tab-item__content ul:last-child,
.field__item--type-tabbed-item .tab-item__content ol:last-child,
.field__item--type-tabbed-item .tab-item__content table:last-child {
  margin-bottom: 0;
}

.field__item--type-tabbed-item:hover .tab-item__title, .field__item--type-tabbed-item.js-open .tab-item__title {
  color: #de0055;
}

.field__item--type-tabbed-item:hover .tab-item__title::before, .field__item--type-tabbed-item.js-open .tab-item__title::before {
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -ms-transform-origin: center center;
  transform-origin: center center;
}

.field__item--type-tabbed-item.js-open .tab-item__title::before {
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -ms-transform-origin: center center;
  transform-origin: center center;
}

.paragraph--type-p-005 {
  position: relative;
}

.group--paragraphs__item .paragraph--type-p-005.has-image {
  padding-top: 4.625rem;
}

.group--paragraphs__item.has-matching-bg + .group--paragraphs__item.has-matching-bg-last .paragraph--type-p-005.has-image {
  padding-top: 3.125rem;
}

.paragraph--type-p-005 .field--name-field-p-image,
.paragraph--type-p-005 .field--name-field-p-media-image {
  position: absolute;
  left: 50%;
  top: -3.125rem;
  min-width: 0;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.paragraph--type-p-005 .field--name-field-p-image img,
.paragraph--type-p-005 .field--name-field-p-media-image img {
  height: 6.25rem;
  width: 6.25rem;
  border-radius: 100%;
}

.paragraph--type-p-005 .field--type-text-long,
.paragraph--type-p-005 .text-long {
  position: relative;
  max-width: 56.25rem;
  margin: 0 auto;
}

.paragraph--type-p-005 .field--type-text-long::before,
.paragraph--type-p-005 .text-long::before {
  content: "\f10d";
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 1.875rem;
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
  color: #303030;
}

.paragraph--type-p-005 .field--type-text-long::before,
.paragraph--type-p-005 .text-long::before {
  position: absolute;
  top: -1.875rem;
  left: 0;
}

.paragraph--type-p-005 .p-info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.paragraph--type-p-005 .field--name-field-p-name,
.paragraph--type-p-005 .field--name-field-p-extra-rule {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.paragraph--type-p-005 .field--name-field-p-name p,
.paragraph--type-p-005 .field--name-field-p-extra-rule p {
  margin: 0;
}

.paragraph--type-p-005 .field--name-field-p-extra-rule::before {
  content: " - ";
  margin: 0 0.3125rem;
}

.p005-content {
  position: relative;
  z-index: 1;
  padding-top: 2.5rem;
}

.has-image .p005-content {
  padding-top: 5.625rem;
}

.paragraph--type-p-006 {
  margin: 0 auto;
}

.paragraph--type-p-006.p--layout--video_stretched {
  padding-top: 0;
  padding-bottom: 0;
}

.paragraph--type-p-006.p--layout--video_stretched .field--name-field-p-video,
.paragraph--type-p-006.p--layout--video_stretched .field--name-field-p-media-video {
  position: relative;
  left: 50%;
  width: 100vw;
  max-width: none;
  -ms-transform: translateX(-50vw);
  transform: translateX(-50vw);
}

@media (min-width: 1200px) {
  .paragraph--type-p-006 {
    max-width: 75%;
  }
}

.paragraph--type-p-007 .field--name-field-p-007-children > .field__items {
  margin-top: -1.5rem;
  overflow: hidden;
}

.paragraph--type-p-007 .field--name-field-p-007-children > .field__items > .field__item {
  margin-top: 1.5rem;
}

.paragraph--type-p-007 .field + .field--name-field-p-007-children {
  margin-top: 2.1875rem;
}

@media (min-width: 480px) and (max-width: 767px) {
  .p-007__children--view-mode--2-column > .field__items,
  .p-007__children--view-mode--two-column > .field__items {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    min-height: 1px;
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
  }
  .p-007__children--view-mode--2-column .field__item--name-field-p-007-children,
  .p-007__children--view-mode--two-column .field__item--name-field-p-007-children {
    position: relative;
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
    min-height: 1px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: calc(50% - 1.875rem);
  }
  .p-007__children--view-mode--3-column > .field__items,
  .p-007__children--view-mode--three-column > .field__items {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    min-height: 1px;
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
  }
  .p-007__children--view-mode--3-column .field__item--name-field-p-007-children,
  .p-007__children--view-mode--three-column .field__item--name-field-p-007-children {
    position: relative;
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
    min-height: 1px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: calc(50% - 1.875rem);
  }
  .p-007__children--view-mode--4-column > .field__items,
  .p-007__children--view-mode--four-column > .field__items {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    min-height: 1px;
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
  }
  .p-007__children--view-mode--4-column .field__item--name-field-p-007-children,
  .p-007__children--view-mode--four-column .field__item--name-field-p-007-children {
    position: relative;
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
    min-height: 1px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: calc(50% - 1.875rem);
  }
}

@media (min-width: 768px) {
  .p-007__children--view-mode--2-column > .field__items,
  .p-007__children--view-mode--two-column > .field__items {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    min-height: 1px;
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
  }
  .p-007__children--view-mode--2-column .field__item--name-field-p-007-children,
  .p-007__children--view-mode--two-column .field__item--name-field-p-007-children {
    position: relative;
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
    min-height: 1px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: calc(50% - 1.875rem);
  }
  .p-007__children--view-mode--3-column > .field__items,
  .p-007__children--view-mode--three-column > .field__items {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    min-height: 1px;
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
  }
  .p-007__children--view-mode--3-column .field__item--name-field-p-007-children,
  .p-007__children--view-mode--three-column .field__item--name-field-p-007-children {
    position: relative;
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
    min-height: 1px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: calc(33.33333% - 1.875rem);
  }
  .p-007__children--view-mode--4-column > .field__items,
  .p-007__children--view-mode--four-column > .field__items {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    min-height: 1px;
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
  }
  .p-007__children--view-mode--4-column .field__item--name-field-p-007-children,
  .p-007__children--view-mode--four-column .field__item--name-field-p-007-children {
    position: relative;
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
    min-height: 1px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: calc(25% - 1.875rem);
  }
}

.group--paragraphs__item .paragraph--type-p-007-child,
.group--paragraphs__item + .group--paragraphs__item.has-matching-bg .paragraph--type-p-007-child {
  padding: 0;
}

.paragraph--type-p-007-child .field--name-image-url-field,
.paragraph--type-p-007-child .field--name-field-p-image,
.paragraph--type-p-007-child .field--name-field-p-media-image,
.paragraph--type-p-007-child .field--type-rs-display-field:first-child {
  margin: 0 auto 0.9375rem auto;
}

.paragraph--type-p-007-child .field--name-image-url-field a,
.paragraph--type-p-007-child .field--name-image-url-field img,
.paragraph--type-p-007-child .field--name-field-p-image a,
.paragraph--type-p-007-child .field--name-field-p-image img,
.paragraph--type-p-007-child .field--name-field-p-media-image a,
.paragraph--type-p-007-child .field--name-field-p-media-image img,
.paragraph--type-p-007-child .field--type-rs-display-field:first-child a,
.paragraph--type-p-007-child .field--type-rs-display-field:first-child img {
  display: block;
}

.paragraph--type-p-007-child .field--name-image-url-field img,
.paragraph--type-p-007-child .field--name-field-p-image img,
.paragraph--type-p-007-child .field--name-field-p-media-image img,
.paragraph--type-p-007-child .field--type-rs-display-field:first-child img {
  max-width: 100%;
  height: auto;
}

.paragraph--type-p-007-child .field--name-field-p-text > *:last-child {
  margin-bottom: 0;
}

.p-007__children--view-mode--2-column .field--name-image-url-field img,
.p-007__children--view-mode--2-column .field--name-field-p-image img,
.p-007__children--view-mode--2-column .field--name-field-p-media-image img,
.p-007__children--view-mode--2-column .field--type-rs-display-field:first-child img,
.p-007__children--view-mode--two-column .field--name-image-url-field img,
.p-007__children--view-mode--two-column .field--name-field-p-image img,
.p-007__children--view-mode--two-column .field--name-field-p-media-image img,
.p-007__children--view-mode--two-column .field--type-rs-display-field:first-child img {
  height: 6.25rem;
  width: auto;
  margin: 0 auto;
  max-width: none;
}

@media (min-width: 768px) {
  .p-007__children--view-mode--2-column .field--name-image-url-field,
  .p-007__children--view-mode--2-column .field--name-field-p-image,
  .p-007__children--view-mode--2-column .field--name-field-p-media-image,
  .p-007__children--view-mode--2-column .field--type-rs-display-field:first-child,
  .p-007__children--view-mode--two-column .field--name-image-url-field,
  .p-007__children--view-mode--two-column .field--name-field-p-image,
  .p-007__children--view-mode--two-column .field--name-field-p-media-image,
  .p-007__children--view-mode--two-column .field--type-rs-display-field:first-child {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 6.25rem;
  }
  .p-007__children--view-mode--2-column .field--name-image-url-field .media,
  .p-007__children--view-mode--2-column .field--name-field-p-image .media,
  .p-007__children--view-mode--2-column .field--name-field-p-media-image .media,
  .p-007__children--view-mode--2-column .field--type-rs-display-field:first-child .media,
  .p-007__children--view-mode--two-column .field--name-image-url-field .media,
  .p-007__children--view-mode--two-column .field--name-field-p-image .media,
  .p-007__children--view-mode--two-column .field--name-field-p-media-image .media,
  .p-007__children--view-mode--two-column .field--type-rs-display-field:first-child .media {
    position: static;
  }
  .p-007__children--view-mode--2-column .field--name-image-url-field img,
  .p-007__children--view-mode--2-column .field--name-field-p-image img,
  .p-007__children--view-mode--2-column .field--name-field-p-media-image img,
  .p-007__children--view-mode--2-column .field--type-rs-display-field:first-child img,
  .p-007__children--view-mode--two-column .field--name-image-url-field img,
  .p-007__children--view-mode--two-column .field--name-field-p-image img,
  .p-007__children--view-mode--two-column .field--name-field-p-media-image img,
  .p-007__children--view-mode--two-column .field--type-rs-display-field:first-child img {
    position: relative;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .p-007__children--view-mode--2-column .field--name-field-p-title,
  .p-007__children--view-mode--2-column .field--name-field-p-text,
  .p-007__children--view-mode--2-column .field--name-field-p-button,
  .p-007__children--view-mode--two-column .field--name-field-p-title,
  .p-007__children--view-mode--two-column .field--name-field-p-text,
  .p-007__children--view-mode--two-column .field--name-field-p-button {
    padding-left: 8.125rem;
  }
  .p-007__children--view-mode--3-column,
  .p-007__children--view-mode--three-column {
    display: -ms-flexbox;
    display: flex;
  }
  .p-007__children--view-mode--3-column .field--name-field-p-text,
  .p-007__children--view-mode--three-column .field--name-field-p-text {
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .p-007__children--view-mode--4-column,
  .p-007__children--view-mode--four-column {
    display: -ms-flexbox;
    display: flex;
  }
  .p-007__children--view-mode--4-column .field--name-field-p-text,
  .p-007__children--view-mode--four-column .field--name-field-p-text {
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .paragraph--type-p-007-child {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.paragraph--type-p-008 {
  text-align: center;
}

.paragraph--type-p-008 > * {
  position: relative;
  z-index: 1;
}

.paragraph--type-p-009 .field--name-field-p-images-unlimited a,
.paragraph--type-p-009 .field--name-field-p-media-images-unlimited a {
  position: relative;
  display: block;
}

.paragraph--type-p-009 .field--name-field-p-images-unlimited a::after,
.paragraph--type-p-009 .field--name-field-p-media-images-unlimited a::after {
  content: "\f31e";
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 1rem;
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
  color: #de0055;
}

.paragraph--type-p-009 .field--name-field-p-images-unlimited .field__items,
.paragraph--type-p-009 .field--name-field-p-media-images-unlimited .field__items {
  margin-bottom: -0.625rem;
}

.paragraph--type-p-009 .field--name-field-p-images-unlimited .field__item,
.paragraph--type-p-009 .field--name-field-p-media-images-unlimited .field__item {
  position: relative;
  margin-bottom: 0.625rem;
  cursor: pointer;
  overflow: hidden;
}

.paragraph--type-p-009 .field + .field--name-field-p-images-unlimited,
.paragraph--type-p-009 .field + .field--name-field-p-media-images-unlimited {
  margin-top: 2.1875rem;
}

.paragraph--type-p-009.paragraph--view-mode-p-009-masonry .field--name-field-p-images-unlimited .field__item,
.paragraph--type-p-009.paragraph--view-mode-p-009-masonry .field--name-field-p-media-images-unlimited .field__item {
  width: 100%;
}

.has--load-more > .field--type-image .field__item:nth-child(n+7),
.has--load-more > .field--name-field-p-media-images-unlimited .field__item:nth-child(n+7) {
  display: none;
}

.has--load-more > .field--type-image .field__item.is--visible,
.has--load-more > .field--name-field-p-media-images-unlimited .field__item.is--visible {
  display: block;
}

.field--name-field-p-load-more {
  margin: 1.5rem auto 0 auto;
}

.field--name-field-p-load-more .more {
  display: none;
}

.field--name-field-p-load-more .less {
  display: block;
}

.has--visible-items .field--name-field-p-load-more .more {
  display: block;
}

.has--visible-items .field--name-field-p-load-more .less {
  display: none;
}

@media (min-width: 480px) and (max-width: 767px) {
  .paragraph--type-p-009.paragraph--view-mode-p-009-grid .field--name-field-p-images-unlimited .field__items,
  .paragraph--type-p-009.paragraph--view-mode-p-009-grid .field--name-field-p-media-images-unlimited .field__items {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    min-height: 1px;
    margin-left: -0.3125rem;
    margin-right: -0.3125rem;
    margin-top: 0;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .paragraph--type-p-009.paragraph--view-mode-p-009-grid .field--name-field-p-images-unlimited .field__item,
  .paragraph--type-p-009.paragraph--view-mode-p-009-grid .field--name-field-p-media-images-unlimited .field__item {
    position: relative;
    margin-left: 0.3125rem;
    margin-right: 0.3125rem;
    min-height: 1px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: calc(50% - 1.875rem);
    margin-top: 0;
  }
  .paragraph--type-p-009.paragraph--view-mode-p-009-masonry .field--name-field-p-images-unlimited .field__items,
  .paragraph--type-p-009.paragraph--view-mode-p-009-masonry .field--name-field-p-media-images-unlimited .field__items {
    margin: 0rem -0.3125rem;
  }
  .paragraph--type-p-009.paragraph--view-mode-p-009-masonry .field--name-field-p-images-unlimited .field__item,
  .paragraph--type-p-009.paragraph--view-mode-p-009-masonry .field--name-field-p-media-images-unlimited .field__item {
    width: 33.33333%;
    padding: 0rem 0.3125rem 0.625rem 0.3125rem;
  }
}

@media (min-width: 768px) {
  .paragraph--type-p-009.paragraph--view-mode-p-009-grid .field--name-field-p-images-unlimited .field__items,
  .paragraph--type-p-009.paragraph--view-mode-p-009-grid .field--name-field-p-media-images-unlimited .field__items {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    min-height: 1px;
    margin-left: -0.3125rem;
    margin-right: -0.3125rem;
    margin-top: 0;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .paragraph--type-p-009.paragraph--view-mode-p-009-grid .field--name-field-p-images-unlimited .field__item,
  .paragraph--type-p-009.paragraph--view-mode-p-009-grid .field--name-field-p-media-images-unlimited .field__item {
    position: relative;
    margin-left: 0.3125rem;
    margin-right: 0.3125rem;
    min-height: 1px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: calc(33.33333% - 1.875rem);
    margin-top: 0;
  }
  .paragraph--type-p-009.paragraph--view-mode-p-009-masonry .field--name-field-p-images-unlimited .field__items,
  .paragraph--type-p-009.paragraph--view-mode-p-009-masonry .field--name-field-p-media-images-unlimited .field__items {
    margin: 0rem -0.3125rem;
  }
  .paragraph--type-p-009.paragraph--view-mode-p-009-masonry .field--name-field-p-images-unlimited .field__item,
  .paragraph--type-p-009.paragraph--view-mode-p-009-masonry .field--name-field-p-media-images-unlimited .field__item {
    width: 33.33333%;
    padding: 0rem 0.3125rem 0.625rem 0.3125rem;
  }
}

.paragraph--type-p-010 {
  position: relative;
  text-align: center;
}

.paragraph--type-p-010 .field--buttons {
  text-align: center;
}

.paragraph--type-p-010 .field--buttons a {
  margin-left: 0.3125rem;
  margin-right: 0.3125rem;
}

.paragraph--type-p-010 .field + .p-010-child-wrapper {
  margin-top: 2.1875rem;
}

.paragraph--type-p-010 .slick-list {
  width: calc(100% - 60px);
  height: auto !important;
  margin-left: 1.875rem;
  margin-right: 1.875rem;
}

.paragraph--type-p-010 .slick-list *:focus {
  outline: none;
}

.paragraph--type-p-010 .slick-track {
  display: -ms-flexbox;
  display: flex;
}

.paragraph--type-p-010 .slick-slide {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  height: auto;
}

.paragraph--type-p-010 .slick-slide > .paragraph {
  padding: 0.625rem;
}

.paragraph--type-p-010 .slick-arrow {
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1.875rem;
  font-size: 0;
  background: #000;
  transition: all 0.3s ease-in-out;
}

.paragraph--type-p-010 .slick-arrow::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
}

.paragraph--type-p-010 .slick-arrow.slick-prev {
  left: 0;
}

.paragraph--type-p-010 .slick-arrow.slick-prev::before {
  content: "\f104";
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 1.125rem;
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
  color: #de0055;
}

.paragraph--type-p-010 .slick-arrow.slick-next {
  right: 0;
}

.paragraph--type-p-010 .slick-arrow.slick-next::before {
  content: "\f105";
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 1.125rem;
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
  color: #de0055;
}

.paragraph--type-p-010 .slick-arrow:hover {
  background: #de0055;
}

.paragraph--type-p-010 .slick-arrow:hover::before {
  color: #fff;
}

.paragraph--type-p-010-child {
  position: relative;
}

.paragraph--type-p-010-child .field--name-field-p-image img,
.paragraph--type-p-010-child .field--name-field-p-media-image img {
  display: block;
  margin: 0 auto;
  border: 0 none;
}

.paragraph--type-p-010-child .field--name-field-p-link a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: block;
  border: 0 none;
  text-indent: -624.9375rem;
  text-decoration: none;
  overflow: hidden;
}

.field-p-012-children .p-012__row {
  margin-top: -0.9375rem;
  margin-bottom: 0.9375rem;
  overflow: hidden;
}

.field-p-012-children:last-child .p-012__row {
  margin-bottom: 0;
}

.paragraph--type-p-012-child {
  margin-top: 0.9375rem;
}

@media (min-width: 768px) {
  .field-p-012-children .p-012__row {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    min-height: 1px;
    margin-left: -0.46875rem;
    margin-right: -0.46875rem;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .paragraph--type-p-012-child {
    position: relative;
    margin-left: 0.46875rem;
    margin-right: 0.46875rem;
    min-height: 1px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: calc(50% - 1.875rem);
  }
}

@media (min-width: 940px) {
  .paragraph--type-p-012-child {
    position: relative;
    margin-left: 0.46875rem;
    margin-right: 0.46875rem;
    min-height: 1px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: calc(100% - 1.875rem);
  }
  .p-012--view-mode--default-small .paragraph--type-p-012-child,
  .p-012--view-mode--default-large .paragraph--type-p-012-child {
    position: relative;
    margin-left: 0.46875rem;
    margin-right: 0.46875rem;
    min-height: 1px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: calc(33.33333% - 1.875rem);
  }
  .p-012--view-mode--default-large .paragraph--type-p-012-child {
    height: 29.375rem;
    position: relative;
    margin-left: 0.46875rem;
    margin-right: 0.46875rem;
    min-height: 1px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: calc(33.33333% - 1.875rem);
  }
  .p-012--view-mode--2-big .paragraph--type-p-012-child {
    height: 19.58333rem;
    position: relative;
    margin-left: 0.46875rem;
    margin-right: 0.46875rem;
    min-height: 1px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: calc(50% - 1.875rem);
  }
  .p-012--view-mode--4-mixed .field-p-012-children .p-012__row {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-direction: column;
    flex-direction: column;
    height: calc(29.375rem + 15px);
    margin-left: -0.46875rem;
    margin-right: -0.46875rem;
  }
  .p-012--view-mode--4-mixed .paragraph--type-p-012-child {
    position: relative;
    margin-left: 0.46875rem;
    margin-right: 0.46875rem;
    min-height: 1px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: calc(33.33333% - 1.875rem);
  }
  .p-012--view-mode--4-mixed .paragraph--type-p-012-child::before {
    padding-top: 100%;
  }
  .p-012--view-mode--4-mixed .paragraph--type-p-012-child:nth-child(4n+1), .p-012--view-mode--4-mixed .paragraph--type-p-012-child:nth-child(4n+4) {
    -ms-flex: 0 0 calc(100% - 0.9375rem);
    flex: 0 0 calc(100% - 0.9375rem);
    -ms-flex-preferred-size: calc(100% - 0.9375rem);
    flex-basis: calc(100% - 0.9375rem);
  }
  .p-012--view-mode--4-mixed .paragraph--type-p-012-child:nth-child(4n+2), .p-012--view-mode--4-mixed .paragraph--type-p-012-child:nth-child(4n+3) {
    -ms-flex: 0 0 calc(50% - 0.9375rem);
    flex: 0 0 calc(50% - 0.9375rem);
    -ms-flex-preferred-size: calc(50% - 0.9375rem);
    flex-basis: calc(50% - 0.9375rem);
  }
  .p-012--view-mode--4-mixed .paragraph--type-p-012-child:nth-child(4n+1) {
    -ms-flex-order: 0;
    order: 0;
  }
  .p-012--view-mode--4-mixed .paragraph--type-p-012-child:nth-child(4n+4) {
    -ms-flex-order: 2;
    order: 2;
  }
  .p-012--view-mode--4-mixed .paragraph--type-p-012-child .field--name-field-p-image .media,
  .p-012--view-mode--4-mixed .paragraph--type-p-012-child .field--name-field-p-media-image .media {
    position: static;
  }
  .p-012--view-mode--4-mixed .paragraph--type-p-012-child .field--name-field-p-image img,
  .p-012--view-mode--4-mixed .paragraph--type-p-012-child .field--name-field-p-media-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    max-width: none;
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    object-fit: cover;
  }
  .p-012--view-mode--5-mixed .field-p-012-children .p-012__row {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-direction: column;
    flex-direction: column;
    height: calc(29.375rem + 15px);
    margin-left: -0.46875rem;
    margin-right: -0.46875rem;
  }
  .p-012--view-mode--5-mixed .paragraph--type-p-012-child {
    position: relative;
    margin-left: 0.46875rem;
    margin-right: 0.46875rem;
    min-height: 1px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: calc(33.33333% - 1.875rem);
  }
  .p-012--view-mode--5-mixed .paragraph--type-p-012-child::before {
    padding-top: 100%;
  }
  .p-012--view-mode--5-mixed .paragraph--type-p-012-child:nth-child(4n+1) {
    -ms-flex: 0 0 calc(100% - 0.9375rem);
    flex: 0 0 calc(100% - 0.9375rem);
    -ms-flex-preferred-size: calc(100% - 0.9375rem);
    flex-basis: calc(100% - 0.9375rem);
  }
  .p-012--view-mode--5-mixed .paragraph--type-p-012-child:nth-child(5n+2), .p-012--view-mode--5-mixed .paragraph--type-p-012-child:nth-child(5n+3), .p-012--view-mode--5-mixed .paragraph--type-p-012-child:nth-child(5n+4), .p-012--view-mode--5-mixed .paragraph--type-p-012-child:nth-child(5n+5) {
    -ms-flex: 0 0 calc(50% - 0.9375rem);
    flex: 0 0 calc(50% - 0.9375rem);
    -ms-flex-preferred-size: calc(50% - 0.9375rem);
    flex-basis: calc(50% - 0.9375rem);
  }
  .p-012--view-mode--5-mixed .paragraph--type-p-012-child:nth-child(5n+1) {
    -ms-flex-order: 0;
    order: 0;
  }
  .p-012--view-mode--5-mixed .paragraph--type-p-012-child .field--name-field-p-image .media,
  .p-012--view-mode--5-mixed .paragraph--type-p-012-child .field--name-field-p-media-image .media {
    position: static;
  }
  .p-012--view-mode--5-mixed .paragraph--type-p-012-child .field--name-field-p-image img,
  .p-012--view-mode--5-mixed .paragraph--type-p-012-child .field--name-field-p-media-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto;
    width: auto;
    height: auto;
    max-width: none;
    min-width: 100%;
    min-height: 100%;
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    object-fit: cover;
  }
}

@media (min-width: 1200px) {
  .p-012--view-mode--4-mixed .field-p-012-children .p-012__row {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-direction: column;
    flex-direction: column;
    height: calc(37.5rem + 15px);
    margin-left: -0.46875rem;
    margin-right: -0.46875rem;
  }
  .p-012--view-mode--5-mixed .field-p-012-children .p-012__row {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-direction: column;
    flex-direction: column;
    height: calc(37.5rem + 15px);
    margin-left: -0.46875rem;
    margin-right: -0.46875rem;
  }
}

.group--paragraphs__item .paragraph--type-p-012-child,
.group--paragraphs__item + .group--paragraphs__item.has-matching-bg .paragraph--type-p-012-child {
  padding: 0;
}

.group--paragraphs__item .paragraph--type-p-012-child::before,
.group--paragraphs__item + .group--paragraphs__item.has-matching-bg .paragraph--type-p-012-child::before {
  background-color: transparent;
}

.paragraph--type-p-012-child {
  position: relative;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  border: 1px solid #d1d1d1;
  transition: border-color 0.3s ease-in-out;
}

.paragraph--type-p-012-child.has-bg::before, .paragraph--type-p-012-child::before {
  position: static;
  display: block;
  margin: 0;
  height: 0;
  width: 100%;
  content: "";
  padding-top: 66.66667%;
}

.paragraph--type-p-012-child.has-image {
  border: 0 none;
}

.paragraph--type-p-012-child .field--name-field-p-link a {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  text-indent: -624.9375rem;
  text-decoration: none;
}

.paragraph--type-p-012-child .field--name-field-p-image,
.paragraph--type-p-012-child .field--name-field-p-media-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.paragraph--type-p-012-child .p-012-child--text {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 1.25rem 1.5625rem;
  background: rgba(255, 255, 255, 0.75);
  transition: background-color 0.3s ease-in-out, top 0.3s ease-in-out;
}

.paragraph--type-p-012-child .p-012-child--text-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.paragraph--type-p-012-child .field--name-field-p-title {
  transition: padding 0.3s ease-in-out;
}

.group--paragraphs__item .p-012__child--view-mode--title .p-012-child--text {
  top: 100%;
}

.group--paragraphs__item .p-012__child--view-mode--title:hover .p-012-child--text {
  top: 0;
}

@media (min-width: 768px) {
  .paragraph--type-p-012-child.has-bg::before, .paragraph--type-p-012-child::before {
    height: 100%;
  }
}

.paragraph--type-p-014 .field + .field--name-field-p-related-items {
  margin-top: 2.1875rem;
}

.paragraph--type-simple-header {
  margin: 0;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  transition: all 0.3s ease-in-out;
  position: relative;
  z-index: 5;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}

.paragraph--type-simple-header,
.paragraph--type-simple-header * {
  box-sizing: border-box;
}

.paragraph--type-simple-header:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  display: block;
  height: 100%;
  background-color: #f3f3f3;
}

.paragraph--type-simple-header.has-bg-stretched {
  padding-left: 0;
  padding-right: 0;
}

.p-header__content {
  position: relative;
  z-index: 1;
}

.paragraph--type-p-016 {
  margin: 0;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  transition: all 0.3s ease-in-out;
  position: relative;
  z-index: 5;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}

.paragraph--type-p-016,
.paragraph--type-p-016 * {
  box-sizing: border-box;
}

.paragraph--type-p-016:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  display: block;
  height: 100%;
  background-color: #f3f3f3;
}

.paragraph--type-p-016.has-bg-stretched {
  padding-left: 0;
  padding-right: 0;
}

.p-header__content {
  position: relative;
  z-index: 1;
}

.field-p-menu-overview__overview {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.field-p-menu-overview__item {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.field + .field--name-field-p-menu-overview {
  margin-top: 2.1875rem;
}

.field-p-menu-overview__item {
  position: relative;
  color: #303030;
  background-color: #f3f3f3;
}

.field-p-menu-overview__item__link > a {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  border: 0 none;
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
}

.field-p-menu-overview__item__link > span {
  display: none;
}
